<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Weperch Technologies Ltd">
	<meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/contactUs.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/following.css">
    
    
    <!-- Favicon -->
	<link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png">

    <link rel="stylesheet" href="/css/css/fontawesome.css">
    <link rel="stylesheet" href="/css/css/fontawesome-all.css">

    <link rel="stylesheet" href="/css/material-design-iconic-font.css">
    <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
    <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">

    <title>Following</title>
    <!-- Dark mode -->
	 <script src="/js/colorTheme.js"></script>
</head>

<body>
<!-- loader goes here -->
    <input type="hidden" id="usernameVisit" value="">

    <!-- NAVIGATION BAR  -->
    <sidebar class="left-navigation-bar bg-shadow ">
          <%if(accountType == "scholar_account") {%>
         <%- include('scholarNavbar') %>
         <% } else if(accountType == "user_account"){%>
             <%- include ("navbar") %>
         <%} else if(accountType == "instructor_account") {%>
             <%- include ("instructorNavbar") %>
 
             <% } else if(accountType == "administrator") {%>
				<%- include ("adminNavbar") %>
				<% } %>
     </sidebar>
     <!-- END NAVIGATION BAR  -->

<!-- Header START -->
<header class="navbar-light navbar-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<button class="stack-bars fa ">
            </button>

            
                    <searchBar>
                        <input type="text" name="searchLibrary" placeholder="Find a Scholar: search by name or User tag" id="searchLibrary"/>
    
                       <i class="fa fa-search"></i>
                    </searchBar>
               
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->
<input type="hidden" id="dataJSON" value="<%= dataJSON %>">

<!-- **************** MAIN CONTENT START **************** -->
<main style="background-image: url(/files/images/03.png);">

<!-- =======================
Page content START -->
<section class="py-5 folowing_section">
    <div class="container">
        <div class="row">
            <div class="section_header">
                <h4>Followers</h4>
            </div>
            <!-- Main content START -->
            <div class="col-lg-8 col-xl-9 following">
                
                <ul id="followers-list">

                </ul>
                     
    
                
            </div>
            <!-- Right sidebar END -->
        </div><!-- Row END -->
    </div>
</section>
    <!-- =======================
    Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark p-3">
	<div class="container">
		<div class="row align-items-center">
            <!-- Widget -->
            <div><script src="/js/footer.js"></script></div>
			<!-- Widget -->
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/mainjs.js"></script>
<script src="/js/AccountFollowersArray.js"></script>

<!-- Back to top -->
<div class="back-top"><i class="fas fa-arrow-up position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/glightbox/js/glightbox.js"></script>
<script src="/js/functions.js"></script>

<script>
        document.addEventListener('DOMContentLoaded', function () {
          const loader = document.getElementById('custom-loader');
    
              setTimeout(() => {
                loader.classList.add('hide');
              }, 500); // optional delay for smoother transition
            
          });
      
      </script>
</body>

</html>