<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Red_Theme" data-layout="vertical">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Weperch Technologies Ltd">
  <meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/scholarDashboard.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/customChat.css">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png"> -->
  <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png" type="image/x-icon">

  <link rel="stylesheet" href="/css/css/fontawesome.css">
  <link rel="stylesheet" href="/css/css/fontawesome-all.css">

  <link rel="stylesheet" href="/css/material-design-iconic-font.css">
  <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
  <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">
  <!-- Core Css -->
  <link rel="stylesheet" href="/chatAssets/assets/css/styles.css" />
  <title><%= receiverFirstName%> <%= receiverLastname%> | Chat
  </title>

  <input type="text" id="senderImage_" value="<%= senderImage %>" readonly hidden>
  <input type="text" id="receiverImage_" value="<%=receiverImage%>" readonly hidden>
  <input type="text" value="<%= receiverFirstName%> <%= receiverLastname%>" id="recipientFullname" hidden>
  <input type="text" value="<%= senderFirstname %> <%= senderLastname %>" id="senderFulname" hidden>

  <input type="text" id="chatHistory" value="<%= chatHistory %>" readonly hidden>
  
  <input type="text" id="recent_message_recipient" value="<%=recent_message_recipient%>" readonly hidden>
  <input type="text" id="name-input" class="name-input" value="<%=recipient %>" maxlength="20" readonly hidden />

  <input type="text" id="name-input-sender" namce="name-input-sender" class="name-input" value="<%=sender %>" maxlength="20" hidden readonly />
  <input type="text" id="chatID" value="<%=chat_id%>" hidden>


  <script src="/socket.io/socket.io.js"></script>
<script src="/js/chat/saveMessage.js"></script>
  <script src="/js/chat/previewImage.js"></script>
  <script src="/js/chat/chatFiles.js"></script>
  <script src="/js/chat/updateUI.js"></script>
  <style>
    .chat-send-message-footers {
  position: fixed; /* Keeps the element fixed relative to the viewport */
  bottom: 0;       /* Anchors the footer to the bottom */
  left: 25%;
  /* right: 0; */
  width: 60%;
  background-color: #fff; /* Adjust background as needed */
  z-index: 9999999;   /* Ensures it stays on top of other content */
  padding: 1rem 2rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Optional: gives a floating effect*/
}
.card{
  height: 82vh !important;
  max-height: 82vh !important;
}
.mainChat .body-wrapper {
    padding-top: 40px !important;
    /* margin-top: 60px; */
}
.chat-box .chat-box-inner {
    height: 70vh;
    max-height: 70vh;
    overflow: scroll;
}
@media screen and (max-width: 991px) {
  .chat-send-message-footers {
    left: 0;
    right: 0;
  width: 100%;
  margin-bottom: 20px;
  }
  .card{
  height: 90vh !important;
  max-height: 90vh !important;
  width: 100%;
}
}

.notify-container{
		display: flex;
		justify-content: space-between;
		padding: 0px 10px 0px 10px;
		width: 120px;
	}
	.marginLeft-70:before {
        content: "\f00d";
		margin-right: 10px;
    }
	.stack-bars{
		margin-right: 20px;
	}

  .app-chat {
    overflow-y: auto;
    height: 50%;
  }

	@media (min-width: 1084px) {
		.notify-container{
		display: flex;
		/* background-color: red; */
		margin-left: -60%;
		padding: 0px 10px 0px 10px;
	}

	}
   </style>
</head>

<body style="overflow: hidden;">
  <!-- NAVIGATION BAR  -->
  <sidebar class="left-navigation-bar bg-shadow ">

    <%if(accountType == "scholar_account") {%>
      <script src="/js/scholarNavbar.js"></script>
      <% } else if(accountType == "user_account"){%>
          <script src="/js/navbar.js"></script>
      <%} else if(accountType == "instructor_account") {%>
          <script src="/js/instructorNavbar.js"></script>

          <% } else if(accountType == "administrator") {%>
     <script src="/js/admin/adminNavbar.js"></script>
     <% } %>

  </sidebar>
  <!-- END NAVIGATION BAR  -->

  <!-- Header START -->
  <header class="navbar-light navbar-sticky">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
      <div class="container">
        <button class="stack-bars fa ">
        </button>
        <div class="notify-container">
          <div id="chats" style="cursor: pointer;">
            <span class="notify-count" id="chats-counter"></span>
            <?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="20px" viewBox="0 0 122.879 102.401" enable-background="new 0 0 122.879 102.401" xml:space="preserve" fill="#ffffff"><g><path d="M46.736,0H30.311H16.698C12.083,0,8.144,1.619,4.881,4.881C1.619,8.144,0,12.083,0,16.698v29.313 c0,4.639,1.619,8.579,4.881,11.841c3.262,3.238,7.202,4.882,11.817,4.882c4.301,0,8.603,0,12.904,0 c-0.942,3.673-2.15,7.178-3.624,10.463c-1.45,3.311-3.891,6.477-7.298,9.497c6.525-1.691,12.325-4.229,17.423-7.587 c5.099-3.335,9.497-7.468,13.17-12.373c3.691,0,7.384,0,11.075,0c4.615,0,8.554-1.644,11.816-4.882 c3.264-3.262,4.883-7.202,4.883-11.841V16.698c0-4.615-1.619-8.555-4.883-11.817C68.902,1.619,64.963,0,60.348,0H46.736L46.736,0z M122.879,33.663v29.313c0,2.667-0.475,5.159-1.432,7.479c-0.953,2.314-2.375,4.416-4.266,6.308 c-0.822,0.814-1.684,1.545-2.584,2.188c-0.928,0.66-1.873,1.221-2.84,1.681c-0.051,0.024-0.104,0.047-0.156,0.068 c-1.236,0.575-2.525,1.009-3.863,1.299c-1.389,0.302-2.824,0.453-4.311,0.453h-8.734h-0.018h-0.018h-0.018h-0.016h-0.467 c0.186,0.59,0.379,1.175,0.578,1.755c0.568,1.639,1.207,3.253,1.918,4.837l0.01,0.021h0.002c0.641,1.463,1.496,2.89,2.564,4.279 c1.102,1.434,2.447,2.854,4.033,4.261c1.135,1.004,1.24,2.737,0.238,3.871c-0.707,0.799-1.777,1.088-2.742,0.838l-0.002,0.001 c-3.406-0.884-6.625-1.987-9.654-3.309c-3.031-1.321-5.891-2.87-8.58-4.642l-0.006,0.008c-2.672-1.747-5.172-3.715-7.494-5.897 c-1.969-1.85-3.807-3.857-5.514-6.023h-0.928h-0.016h-0.02h-0.016h-0.018h-8.735c-1.818,0-3.56-0.227-5.223-0.676 c-1.665-0.45-3.251-1.134-4.756-2.048c-1.295-0.784-1.709-2.469-0.925-3.764c0.784-1.295,2.469-1.709,3.764-0.925 c1.031,0.626,2.144,1.102,3.337,1.424c1.186,0.32,2.454,0.482,3.803,0.482h8.735h0.018h0.016h0.02h0.016h2.271v0.011 c0.834,0,1.656,0.379,2.193,1.097c1.732,2.313,3.648,4.456,5.74,6.422c2.066,1.941,4.316,3.708,6.742,5.295l-0.006,0.008 l0.006,0.003c2.305,1.519,4.777,2.865,7.418,4.038c-0.5-0.846-0.938-1.699-1.314-2.561l0,0c-0.752-1.681-1.445-3.438-2.08-5.267 c-0.602-1.738-1.141-3.525-1.617-5.353c-0.105-0.294-0.164-0.61-0.164-0.94c0-1.521,1.232-2.753,2.752-2.753h4.102h0.016h0.018 h0.018h0.018h8.734c1.107,0,2.156-0.108,3.148-0.324c0.943-0.204,1.84-0.503,2.689-0.895c0.041-0.022,0.084-0.044,0.127-0.064 c0.717-0.342,1.393-0.737,2.021-1.186c0.656-0.469,1.289-1.004,1.895-1.606c1.371-1.37,2.391-2.87,3.063-4.501 c0.67-1.624,1.002-3.421,1.002-5.394V33.663c0-1.96-0.332-3.751-1.002-5.373c-0.672-1.628-1.691-3.127-3.063-4.498l0,0l-0.01-0.011 c-1.371-1.371-2.869-2.391-4.498-3.062c-1.621-0.669-3.412-1.002-5.373-1.002h-7.873h-5.738c-1.521,0-2.754-1.233-2.754-2.753 c0-1.521,1.232-2.753,2.754-2.753h5.738h7.873c2.656,0,5.143,0.476,7.459,1.432c2.307,0.952,4.406,2.37,6.295,4.256l0.004,0.005 l0.006,0.005l0.002,0.002c1.887,1.888,3.303,3.986,4.254,6.292C122.404,28.521,122.879,31.008,122.879,33.663L122.879,33.663z"/></g></svg>
          </div>
        
            <div id="notifications" style="cursor: pointer; visibility: hidden;">
              <span class="notify-count" id="notify-counter"></span>
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="45px" height="20px" viewBox="0 0 48 48">
                <path fill="#ffffff" d="M38,32V21c0-7.732-6.268-14-14-14s-14,6.268-14,14v11H7v6h34v-6H38z"></path><circle cx="24" cy="38" r="6" fill="#ffffff"></circle><rect width="4" height="8.468" x="22" y="4" fill="#ffffff"></rect><path fill="#ffffff" d="M24,32c-3.314,0-6,2.686-6,6h12C30,34.686,27.314,32,24,32z"></path>
                </svg>
             
            </div>
        </div>


        <!-- Profile START -->
        <div class="dropdown ms-1 ms-lg-0">

          <personal_info>
            <account_name><%=UserFirstname %> <%= UserLastName %></account_name>
          </personal_info>

          <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
            <% if(ProfileImage == "avatar.jpg"){ %>
            <img class="avatar-img rounded-circle border border-white border-3 shadow" src="https://eu.ui-avatars.com/api/?background=random&name=<%= UserFirstname %>+<%= UserLastName %>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff" alt='<%= ProfileImage %> '>
            <% } else { %>

            <img class="avatar-img rounded-circle border border-white border-3 shadow" src="<%=ProfileImage%>" alt="profile_img">
            <% }%>

          </a>


          <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
            <!-- Profile info -->
            <li class="px-3 mb-3">
              <div class="d-flex align-items-center">
                <!-- Avatar -->
                <div class="avatar me-3">
                  <% if(ProfileImage == "avatar.jpg"){ %>
                  <img class="avatar-img rounded-circle border border-white border-3 shadow" src="https://eu.ui-avatars.com/api/?background=random&name=<%= UserFirstname %>+<%= UserLastName %>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff" alt='<%= ProfileImage %> '>
                  <% } else { %>

                  <img class="avatar-img rounded-circle border border-white border-3 shadow" src="<%=ProfileImage%>" alt="profile_img">
                  <% }%>
                </div>
                <div>
                  <a class="h6" href="#">@<%= UserName %></a>
                  <p class="small m-0"><%= Email %></p>
                </div>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <!-- Links -->
            <li><a class="dropdown-item" href="/settings"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
            <li><a class="dropdown-item" href="/settings"><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>
            <li><a class="dropdown-item" href="/contactUs"><i class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>
            <li><a class="dropdown-item bg-danger-soft-hover" href="/logout"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <!-- Dark mode options START -->
            <li>
              <div class="bg-light dark-mode-switch theme-icon-active d-flex align-items-center p-1 rounded mt-2">
                <button type="button" class="btn btn-sm mb-0" data-bs-theme-value="light">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun fa-fw mode-switch" viewBox="0 0 16 16">
                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                    <use href="#"></use>
                  </svg> Light
                </button>
                <button type="button" class="btn btn-sm mb-0" data-bs-theme-value="dark">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars fa-fw mode-switch" viewBox="0 0 16 16">
                    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
                    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                    <use href="#"></use>
                  </svg> Dark
                </button>
                <button type="button" class="btn btn-sm mb-0 active" data-bs-theme-value="auto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half fa-fw mode-switch" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
                    <use href="#"></use>
                  </svg> Auto
                </button>
              </div>
            </li>
            <!-- Dark mode options END-->
          </ul>
        </div>
        <!-- Profile START -->
      </div>
    </nav>
    <!-- Logo Nav END -->
  </header>
  <!-- Header END -->

  <div id="main-wrapper" class="mainWrapper" style="overflow: hidden;">

    <!--  Sidebar End -->
    <div class="page-wrappe mainChat">

      <div class="body-wrapper">
        <div class="container-fluid">

          <div class="card overflow-hidden chat-application">
            <div class="d-flex align-items-center justify-content-between gap-6 m-3 d-lg-none">
              <button class="btn btn-primary d-flex" type="button" data-bs-toggle="offcanvas" data-bs-target="#chat-sidebar" aria-controls="chat-sidebar">
                <i class="ti ti-menu-2 fs-5"></i>
              </button>
              <form class="position-relative w-100">
                <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh" placeholder="Search Contact" />
                <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
              </form>
            </div>
            <div class="d-flex">
              <div class="w-30 d-none d-lg-block border-end user-chat-box">
                <div class="px-4 pt-9 pb-6">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="d-flex align-items-center">
                      <div class="position-relative">
                        <div class="avatar-img rounded-circle border border-white border-3 shadow" style="height: 54px;">
                          <img src="<%= senderImage %>" alt="user1" width="54" height="54" />
                        </div>
                        <span class="position-absolute bottom-0 end-0 p-1 badge rounded-pill bg-success">
                          <span class="visually-hidden">New alerts</span>
                        </span>
                      </div>
                      <div class="ms-3">
                        <h6 class="fw-semibold mb-2"><%= senderFirstname %> <%= senderLastname %></h6>
                        <p class="mb-0 fs-2"><%= UserName%></p>
                      </div>
                    </div>
                 
                  </div>
                  <form class="position-relative mb-4">
                    <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh" placeholder="Search Contact" />
                    <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
                  </form>
                  <div class="dropdown">
                    <a class="text-muted fw-semibold d-flex align-items-center" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Recent Chats


                      <span class="c-number" id="c-number"></span>

                    </a>

                  </div>
                </div>
                <div class="app-chat">
                  <ul class="chat-users mb-0 mh-n100" data-simplebar id="active_conversations">


                  </ul>
                </div>
              </div>
              <div class="w-70 w-xs-100 chat-container">
                <div class="chat-box-inner-part h-100">
                  <div class="chat-not-selected h-100 d-none">
                    <div class="d-flex align-items-center justify-content-center h-100 p-5">
                      <div class="text-center">
                        <span class="text-primary">
                          <i class="ti ti-message-dots fs-10"></i>
                        </span>
                        <h6 class="mt-2">Open chat from the list</h6>
                      </div>
                    </div>
                  </div>
                  <div class="chatting-box d-block">
                    <div class="p-9 border-bottom chat-meta-user d-flex align-items-center justify-content-between">
                      <div class="hstack gap-3 current-chat-user-name">
                        <div class="position-relative rounded-circle" style="height: 54px;">
                          <img src="" alt="user1" width="48" height="48" id="user_image" style="visibility: hidden;" />
                          <!-- <span class="position-absolute bottom-0 end-0 p-1 badge rounded-pill bg-success">
                            <span class="visually-hidden">New alerts</span>
                          </span> -->
                        </div>
                        <div>
                          <h6 class="mb-1 name fw-semibold" id="recipientName"></h6>
                          <!-- <p class="mb-0">Away</p> -->
                        </div>
                      </div>
                      <ul class="list-unstyled mb-0 d-flex align-items-center">
                        <li>
                          <a class="text-dark px-2 fs-7 bg-hover-primary nav-icon-hover position-relative z-index-5" id="callButton">
                            <i class="ti ti-phone"></i>
                          </a>
                        </li>
                        <!-- <li>
                          <a class="text-dark px-2 fs-7 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)">
                            <i class="ti ti-video"></i>
                          </a>
                        </li> -->
                        <li>
                          <a class="chat-menu text-dark px-2 fs-7 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)">
                            <i class="ti ti-menu-2"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="d-flex parent-chat-box">
                      <div class="chat-box w-xs-100">
                        <div class="chat-box-inner p-9" data-simplebar>
                          <div class="chat-list chat active-chat" data-user-id="1" id="message-container" style="overflow-y: auto !important;">

                          </div>
                          <!-- 2 -->

                        </div>
                        <div class="px-9 py-6 border-top chat-send-message-footers " id="messageForm">
                          <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-end gap-2 w-85" >
                              <%- include("emojiPicker.ejs") %>
                       
                            </div>
                            <ul class="list-unstyledn mb-0 d-flex align-items-center">
                              <li>
                                <a class="text-dark px-2 fs-7 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)" id="sendImage">
                                  <i class="ti ti-photo-plus"></i>
                                </a>
                              </li>
                              <li>
                                <a class="text-dark px-2 fs-7 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)" id="sendAttachment">
                                  <i class="ti ti-paperclip"></i>
                                </a>
                              </li>
                              <li>
                                <a class="text-dark px-2 fs-7 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)" title="send" id="send-message">
                                  <i class="ti ti-location"></i>
                                </a>
                              </li>
                              <!-- <li>
                                <a class="text-dark px-2 fs-7 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)">
                                  <i class="ti ti-microphone"></i>
                                </a>
                              </li> -->
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="app-chat-offcanvas border-start" id="mediaCanvas">
                        <div class="custom-app-scroll mh-n100" >
                          <div class="p-3 d-flex align-items-center justify-content-between">
                            <h6 class="fw-semibold mb-0 text-nowrap">
                              Media <span class="text-muted" id="imageFileCount">0</span>
                            </h6>
                            <a class="chat-menu d-lg-none d-block text-dark fs-6 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)">
                              <i class="ti ti-x"></i>
                            </a>
                          </div>
                          <div class="offcanvas-body p-9">

                            <div class="row mb-7 text-nowrap" id="chatImageFiles">




                            </div>
                            <div class="files-chat" id="otherFiles">
                              <h6 class="fw-semibold mb-3 text-nowrap">
                                Files <span class="text-muted" id="otherFilesLength">0</span>
                              </h6>



                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="offcanvas offcanvas-start user-chat-box chat-offcanvas" tabindex="-1" id="chat-sidebar" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                    Chats
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="px-4 pt-9 pb-6">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="d-flex align-items-center">
                      <div class="position-relative">

                        <div class="prod"> <img src="<%= senderImage %>" alt="user1" width="54" height="54" class="rounded-circle" />
                        </div>
                      </div>
                      <div class="ms-3">
                        <h6 class="fw-semibold mb-2"><%= senderFirstname %> <%= senderLastname %></h6>
                        <p class="mb-0 fs-2"><%= UserName%></p>
                      </div>
                    </div>

                  </div>
                  <form class="position-relative mb-4">
                    <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh" placeholder="Search Contact" />
                    <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
                  </form>
                  <div class="dropdown">
                    <a class="text-muted fw-semibold d-flex align-items-center" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Recent Chats<i class="ti ti-chevron-down ms-1 fs-5"></i>
                    </a>

                  </div>
                </div>
                <div class="app-chat">
                  <ul class="chat-users mh-n100" data-simplebar id="active_conversation">


                  </ul>
                </div>
              </div>
            </div>
          </div>
           <!-- Start right section  -->
 <!-- Include Notification panel -->
    <!--Include Chats Panel-->
    <div class="ChatRight_side">
      <%- include("chatsPanel.ejs") %>
    </div>
    <!-- End right Section  -->
        </div>
        <!----Footer--->
        <!-- -------------------------------------------------------------- -->
        <!-- footer -->
        <!-- -------------------------------------------------------------- -->

        <!-- -------------------------------------------------------------- -->
        <!-- End footer -->
        <!-- -------------------------------------------------------------- -->
        <!----Footer End--->
      </div>
      <script>
        function handleColorTheme(e) {
          document.documentElement.setAttribute("data-color-theme", e);
        }
      </script>

    </div>


  </div>
  <div class="dark-transparent sidebartoggler"></div>
  <script src="/chatAssets/assets/js/vendor.min.js"></script>
  <!-- Import Js Files -->
  <script src="/chatAssets/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/chatAssets/assets/js/theme/app.init.js"></script>
  <!-- <script src="/chatAssets/assets/js/theme/theme.js"></script> -->
  <!-- <script src="/chatAssets/assets/js/theme/app.min.js"></script> -->
  <script src="/chatAssets/assets/js/theme/feather.min.js"></script>

  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  <script src="/chatAssets/assets/js/chat.js"></script>


  <script src="/js/jquery-3.4.1.min.js"></script>

  <script src="/js/jquery-3.4.2.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
  <!-- <script src="/js/chatUI.js"></script> -->


  <script src="/js/fetchFiles.js"></script>
  <!-- <script type="module" src="/js/searchQueries/getUserInfo.js"></script> -->
  <script src="/js/privateChatMain.js" type="module"></script>
   
  <script type="module" src="/js/privateRecentChats.js"></script>
  <script src="/js/chat/submitMessage.js"></script>
  <script src="/js/mainjs.js"></script>
  <script src="/js/getNotifications.js"></script>
  <script src="/js/getChatNotifications.js"></script>
  <script type="module" src="/js/services/main.js"></script>
<script>
	const notifications = document.querySelector("#notifications");
	const chats = document.querySelector("#chats");
	const notificationsPanel = document.querySelector(".MainRight_side");
	const chatsPanel = document.querySelector(".ChatRight_side");
	const closeButtonNotification = document.querySelector(".close_button_notification");
	const closeButtonChat = document.querySelector(".close_button_chat");
	notifications.addEventListener("click", () => {
    notificationsPanel.classList.toggle("visible");
	chatsPanel.classList.remove("visible");
});
chats.addEventListener("click", () => {
    chatsPanel.classList.toggle("visible");
	notificationsPanel.classList.remove("visible");
});

closeButtonChat.addEventListener("click", function(){
    chatsPanel.classList.toggle("visible");
})
</script>

  

  <%- include("chatImagePreview") %>

  <script>
    const chatId = document.getElementById("chatID").value;
    const chatIdContaner = document.getElementById("chatIdContaner")
    
    UpdateChatUI(chatId)
    
      </script>
</body>

</html>