<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
  integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
  crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/css/privateChat.css" />
<title><%= receiverFirstName%> <%= receiverLastname%> | Chat
</title>
</head>

<input type="text" id="senderImage_" value="<%= senderImage %>" readonly hidden>
<input type="text" id="receiverImage_" value="<%=receiverImage%>" readonly hidden>
<input type="text" value="<%= receiverFirstName%> <%= receiverLastname%>" id="recipientFullname" hidden>
<input type="text" value="<%= senderFirstname %> <%= senderLastname %>" id="senderFulname" hidden>

<input type="text" id="chatHistory" value="<%= chatHistory %>" readonly hidden>
<input type="text" id="chatID" value="<%=ChatBufferID%>" readonly hidden>
<input type="text" id="recent_message_recipient" value="<%=recent_message_recipient%>" readonly hidden>
<body>
  <!-- partial:index.partial.html -->
  <div class="app-container">
    <span class="bar" id="bar-btn"><svg
      width="20"
      height="80"
      viewBox="0 0 20 80"
      xmlns="http://www.w3.org/2000/svg"
    >
      <!-- First circle -->
      <circle cx="10" cy="16" r="6" />
      <!-- Second circle -->
      <circle cx="10" cy="32" r="6" />
      <!-- Third circle -->
      <circle cx="10" cy="48" r="6" />
    </svg></span>
    <div class="app-left">
      <div class="app-left-header">

      </div>
      <div class="app-profile-box">

        <% if(senderImage=="avatar.jpg" ){ %>
          <a href="/@<%=sender %>">
            <img src="https://eu.ui-avatars.com/api/?background=random&name=<%= senderFirstname %>+<%= senderLastname %>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff"
            alt='ProfileImage '>
            </a>
          <% } else { %>
          <a href="/@<%=sender %>">
            <img src="/userUploads/profileImages/<%= senderImage %>" alt="ProfileImage">
            </a>
            <% }%>


              <div class="app-profile-box-name"
                style="display: flex; flex-direction: column;justify-content: flex-start;">
                <span>
                  <%= senderFirstname %>
                    <%= senderLastname %>
                </span>
                <br>
                <!-- <span>@<%= sender %></span> -->
                <input type="text" id="name-input" class="name-input" value="<%=recipient %>" maxlength="20" readonly
                  hidden />

                <input type="text" id="name-input-sender" namce="name-input-sender" class="name-input"
                  value="<%=sender %>" maxlength="20" hidden readonly />
              </div>
      </div>

      <div class="chat-list-wrapper">
        <div class="chat-list-header">Active Conversations
          <%if(JSON.parse(recent_message_recipient).length > 0){ %>
          <span class="c-number" id="c-number"></span>
          <%}%>
          <svg class="list-header-arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
            class="feather feather-chevron-up" viewBox="0 0 24 24">
            <defs />
            <path d="M18 15l-6-6-6 6" />
          </svg>
        </div>
        <ul class="chat-list active" id="active_conversations">
          

        </ul>
      </div>
    </div>
    <div class="app-main">
      <div class="chat-wrapper" id="message-container">

      

      </div>
     
        <!-- <button class="chat-attachment-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-paperclip" viewBox="0 0 24 24">
          <defs/>
          <path d="M21.44 11.05l-9.19 9.19a6 6 0 01-8.49-8.49l9.19-9.19a4 4 0 015.66 5.66l-9.2 9.19a2 2 0 01-2.83-2.83l8.49-8.48"/>
        </svg>
      </button> -->
        <form class="chat-input-wrapper" id="message-form">

          <div class="input-wrapper">
            <input type="text" class="chat-input" name="message" id="message-input"
              placeholder="Enter your message here">
            <!-- <button class="emoji-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-smile" viewBox="0 0 24 24">
          <defs/>
          <circle cx="12" cy="12" r="10"/>
          <path d="M8 14s1.5 2 4 2 4-2 4-2M9 9h.01M15 9h.01"/>
        </svg>
      </button> -->
          </div>
          <button class="chat-send-btn" type="submit">Send</button>
        </form>
      
    </div>
    <div class="app-right">
      <div class="app-profile-box">
        <% if(receiverImage=="avatar.jpg" ){ %>
          <a href="/@<%=recipient%>">
          <img
            src="https://eu.ui-avatars.com/api/?background=random&name=<%= receiverFirstName%>+<%= receiverLastname%>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff"
            alt='ProfileImage '>
            </a>
          <% } else { %>
          <a href="/@<%=recipient%>">

            <img src="/userUploads/profileImages/<%= receiverImage%>" alt="ProfileImage">
            </a>
            <% }%>
              <p class="app-profile-box-title name"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="feather feather-user">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                  <circle cx="12" cy="7" r="4" />
                </svg>
                <%= receiverFirstName %>
                  <%= receiverLastname %>
              </p>
              <p class="app-profile-box-title mail">@<%=recipient%>
              </p>

      </div>
    </div>

    <%- include ("ChatThemeControls") %>

      <!-- partial -->
      <script src="/js/jquery-3.4.2.min.js"></script>

      <script src="/socket.io/socket.io.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
        integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
        crossorigin="anonymous"></script>
      <script src="/js/chatUI.js"></script>



      <script src="/js/privateChatMain.js"></script>
</body>

</html>


</body>

</html>