<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Weperch Technologies Ltd">
	<meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/scholarDashboard.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/feed.css">
   
    
     <!-- Favicon -->
	 <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png">

    <link rel="stylesheet" href="/css/css/fontawesome.css">
    <link rel="stylesheet" href="/css/css/fontawesome-all.css">

    <link rel="stylesheet" href="/css/material-design-iconic-font.css">
    <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
    <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">

    <title><%= UserName %> | Feed</title>
    <!-- Dark mode -->
	<script src="/js/colorTheme.js"></script>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-32YRZWEG3P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 
  gtag('config', 'G-32YRZWEG3P');
</script>
<!-- <style>
	.notify-container{
		display: flex;
		justify-content: space-between;
		padding: 0px 10px 0px 10px;
		width: 120px;
	}
	.marginLeft-70:before {
        content: "\f00d";
		margin-right: 10px;
    }
	.stack-bars{
		margin-right: 20px;
	}

	@media (min-width: 1084px) {
		.notify-container{
		display: flex;
		/* background-color: red; */
		margin-left: -60%;
		padding: 0px 10px 0px 10px;
	}

	}

    .hidden{
        display: none;
        }
        .heightSmall{
            min-height: 150px !important;
            height: 150px !important;
            max-height: 150px !important;
        }
</style> -->

</head>

<input type="hidden" value="<%=Username%>" id="usernameContainer" readonly>
<input type="hidden" id="profilePhoto" value="<%=ProfileImage%>" readonly>
<body>
    <%- include ("bookUploadModal") %>

	<%- include ("podcastUploadModal") %>
      
     
         <!-- Header START -->
     <%- include('header') %>
     <!-- Header END -->

     <main class="main_page">
        <!-- NAVIGATION BAR  -->
	 <sidebar class="left-navigation-bar">
		<%if(accountType == "scholar_account") {%>
			
			<%- include('scholarNavbar') %>
			<% } else if(accountType == "user_account"){%>
				
				<%- include ("navbar") %>
			<%} else if(accountType == "instructor_account") {%>
				<%- include ("instructorNavbar") %>
	
				<% } else if(accountType == "administrator") {%>
				   <%- include ("adminNavbar") %>
				   <% } %>
				   
							<!-- Widget -->
							<div><script src="/js/footer.js"></script></div>
							<!-- Widget -->
					
	</sidebar>
	<!-- END NAVIGATION BAR  -->
        <!-- Divide into two -->

        <!-- Start left Side  -->
         <div class="section leftSideMain">
            <div class="dropdown dash_upload">
                <span>Post Something</span>
                <span href="#" class="assets_button" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-edit"></i> Upload Resources</span>
                <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" href="#" id="BookUploadBtn"><i class="fa fa-book fa-fw me-2"></i>Upload Publication/Book</a></li>
    <li><a class="dropdown-item" href="#" id="PodcastUploadBtn"><i class="fas fa-microphone fa-fw me-2"></i>Upload Podcast</a></li>
                </ul>
            </div> 
            
        <div class="section leftSide" id="feedContainer">
           
            <!-- Single card item  -->
    
        </div>

        
        
        </div>
 
        <sidebar class="right-navigation-bar">
	
				
        </sidebar>


        <!-- end left side  -->

       
        <!-- Include Notification panel -->
  <div class="MainRight_side">
    <%- include("notificationsPanel.ejs") %>
      </div>
    <!--Include Chats Panel-->
    <div class="ChatRight_side">
        <%- include("chatsPanel.ejs") %>
    </div>
        <!-- End right side  -->
     </main>
    
     <script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/mainjs.js"></script>
<script src="/js/scholarControls/uploadBook.js"></script>
  <script src="/js/scholarControls/uploadPodcast.js"></script>
  <script src="/js/getNotifications.js"></script>
  <script src="/js/getChatNotifications.js"></script>
<!-- Back to top -->
<div class="back-top"><i class="fas fa-arrow-up position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/feed/feedContent.js"></script>

<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/glightbox/js/glightbox.js"></script>
<script src="/js/functions.js"></script>

<script type="module" src="/js/services/main.js"></script>
<script>
	const notifications = document.querySelector("#notifications");
	const chats = document.querySelector("#chats");
	const notificationsPanel = document.querySelector(".MainRight_side");
	const chatsPanel = document.querySelector(".ChatRight_side");
	const closeButtonNotification = document.querySelector(".close_button_notification");
	const closeButtonChat = document.querySelector(".close_button_chat");
	notifications.addEventListener("click", () => {
    notificationsPanel.classList.toggle("visible");
    chatsPanel.classList.remove("visible");
});
chats.addEventListener("click", () => {
    chatsPanel.classList.toggle("visible");
    notificationsPanel.classList.remove("visible");
});
closeButtonNotification.addEventListener("click", function(){
    notificationsPanel.classList.toggle("visible");
})
closeButtonChat.addEventListener("click", function(){
    chatsPanel.classList.toggle("visible");
})
</script>
</body>
</html>