<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Weperch Technologies Ltd">
	    <meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
        <link rel="stylesheet" href="/css/instructorDashboard.css">
        <link rel="stylesheet" href="/css/general.css">
        

        <!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="/css/choices.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/aos/aos.css">
	<link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css">
	<link rel="stylesheet" type="text/css" href="/css/bs-stepper.min.css">
       
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png">
    
        <link rel="stylesheet" href="/css/css/fontawesome.css">
        <link rel="stylesheet" href="/css/css/fontawesome-all.css">
    
        <link rel="stylesheet" href="/css/material-design-iconic-font.css">
        <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
        <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">
    
        <title>Create Course</title>
        <!-- Dark mode -->
        <script src="/js/colorTheme.js"></script>

        
    <!-- END STYLE SHEETS  -->
</head>


</head>

<body>
<%- include ("loader") %>

    <!-- NAVIGATION BAR  -->
    <sidebar class="left-navigation-bar bg-shadow ">
          <%if(accountType == "scholar_account") {%>
         <%- include('scholarNavbar') %>
         <% } else if(accountType == "user_account"){%>
             <%- include ("navbar") %>
         <%} else if(accountType == "instructor_account") {%>
             <%- include ("instructorNavbar") %>
 
             <% } else if(accountType == "administrator") {%>
				<%- include ("adminNavbar") %>
				<% } %>
     </sidebar>
     <!-- END NAVIGATION BAR  -->

<!-- Header START -->
<header class="navbar-light navbar-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<button class="stack-bars fa ">
            </button>

            
                   <!-- Profile START -->
			<div class="dropdown ms-1 ms-lg-0">



				<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                    <% if(ProfileImage == "avatar.jpg"){ %>
						<img class="avatar-img rounded-circle border border-white border-3 shadow" src="https://eu.ui-avatars.com/api/?background=random&name=<%= FirstName %>+<%= LastName %>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff" alt='<%= ProfileImage %> '>
						<% } else { %>

						<img class="avatar-img rounded-circle border border-white border-3 shadow"
						src="/userUploads/profileImages/<%=ProfileImage%>" alt="<%=ProfileImage%>">
						<% }%>
					
				</a>
                
                
				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
					<!-- Profile info -->
					<li class="px-3 mb-3">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar me-3">
								<% if(ProfileImage == "avatar.jpg"){ %>
									<img class="avatar-img rounded-circle border border-white border-3 shadow" src="https://eu.ui-avatars.com/api/?background=random&name=<%= FirstName %>+<%= LastName %>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff" alt='<%= ProfileImage %> '>
									<% } else { %>
			
									<img class="avatar-img rounded-circle border border-white border-3 shadow"
									src="/userUploads/profileImages/<%=ProfileImage%>" alt="<%=ProfileImage%>">
									<% }%>
							</div>
							<div>
								<a class="h6" href="/dashboard">@<%= UserName %></a>
								<p class="small m-0"><%= Email %></p>
							</div>
						</div>
					</li>
                    
          <li> <hr class="dropdown-divider"></li>
					<!-- Links -->
					<li><a class="dropdown-item" href="/settings"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
					<li><a class="dropdown-item" href="/settings"><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>
					<li><a class="dropdown-item" href="/contactUs"><i class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>
					<li><a class="dropdown-item bg-danger-soft-hover" href="/logout"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
					<li> <hr class="dropdown-divider"></li>
					<!-- Dark mode options START -->
					<li>
						<div class="bg-light dark-mode-switch theme-icon-active d-flex align-items-center p-1 rounded mt-2">
							<button type="button" class="btn btn-sm mb-0" data-bs-theme-value="light">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun fa-fw mode-switch" viewBox="0 0 16 16">
									<path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
									<use href="#"></use>
								</svg> Light
							</button>
							<button type="button" class="btn btn-sm mb-0" data-bs-theme-value="dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars fa-fw mode-switch" viewBox="0 0 16 16">
									<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
									<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
									<use href="#"></use>
								</svg> Dark
							</button>
							<button type="button" class="btn btn-sm mb-0 active" data-bs-theme-value="auto">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half fa-fw mode-switch" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
									<use href="#"></use>
								</svg> Auto
							</button>
						</div>
					</li> 
					<!-- Dark mode options END-->
				</ul>
			</div>
			<!-- Profile START -->
               
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
	


<!-- =======================
Steps START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto text-center">
				<!-- Content -->
				<h6 class="text-center">Use this interface to add a new Course to the portal. Once you are done adding the item it will be reviewed for quality. If approved, your course will appear and you will be informed by email that your course has been accepted.</h6>
			</div>
		</div>
        <br>

		<div class="card bg-transparent border rounded-3 mb-5">
			<div id="stepper" class="bs-stepper stepper-outline">
				<!-- Card header -->
				<div class="card-header bg-light border-bottom px-lg-5">
					<!-- Step Buttons START -->
					<div class="bs-stepper-header" role="tablist">
						<!-- Step 1 -->
						<div class="step" data-target="#step-1">
							<div class="d-grid text-center align-items-center">
								<button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger1" aria-controls="step-1">
									<span class="bs-stepper-circle">1</span>
								</button>
								<h6 class="bs-stepper-label d-none d-md-block">Course details</h6>
							</div>
						</div>
						<div class="line"></div>

						<!-- Step 2 -->
						<div class="step" data-target="#step-2">
							<div class="d-grid text-center align-items-center">
								<button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger2" aria-controls="step-2">
									<span class="bs-stepper-circle">2</span>
								</button>
								<h6 class="bs-stepper-label d-none d-md-block">Course media</h6>
							</div>
						</div>
						<div class="line"></div>

						

						
					</div>
					<!-- Step Buttons END -->
				</div>

				<!-- Card body START -->
				<div class="card-body">
					<!-- Step content START -->
					<div class="bs-stepper-content">
						<form method="post" id="uploadCourseForm" action="/api/scholar/newCourse" enctype="multipart/form-data">
							<input type="text" readonly value="" name="buffer" id="buffer" hidden>
							<input type="text" readonly value="" name="commentBuffer" id="commentBuffer" hidden>
							<input type="text" readonly value="" name="tutorialBuffer" id="tutorialBuffer" hidden>
						    <input type="text" value="<%=UserName%>" name="courseOwner" id="courseOwner" hidden readonly>

						
							<!-- Step 1 content START -->
							<div id="step-1" role="tabpanel" class="content fade" aria-labelledby="steppertrigger1">
								<!-- Title -->
								<h4>Course details</h4>

								<hr> <!-- Divider -->

								<!-- Basic information START -->
								<div class="row g-4">
									<!-- Course title -->
									<div class="col-12">
										<label class="form-label">Course title</label>
										<input class="form-control" type="text" name="courseTitle" id="courseTitle"  placeholder="Enter course title">
									</div>

									<!-- Short description -->
									<div class="col-12">
										<label class="form-label">Short description</label>
										<textarea class="form-control" name="shortDescription" id="shortDescription" rows="2" placeholder="Enter keywords"></textarea>
									</div>

									<!-- Course category -->
									<div class="col-md-6">
										<label class="form-label">Course category</label>
										<select class="form-select js-choice border-0 z-index-9 bg-transparent" id="category" name="category" aria-label=".form-select-sm" data-search-enabled="true">
											<option value="">Select category</option>
											<option>Engineer</option>
											<option>Medical</option>
											<option>Information technology</option>
											<option>Finance</option>
											<option>Marketing</option>
										</select>
									</div>

									<!-- Course level -->
									<div class="col-md-6">
										<label class="form-label">Course level</label>
										<select class="form-select js-choice border-0 z-index-9 bg-transparent" aria-label=".form-select-sm" data-search-enabled="false" data-remove-item-button="true" name="courseLevel" id="courseLevel" >
											<option value="">Select course level</option>
											<option>All level</option>
											<option>Beginner</option>
											<option>Intermediate</option>
											<option>Advance</option>
										</select>
									</div>

									

									<!-- Course time -->
									<div class="col-md-6">
										<label class="form-label">Course Duration</label>
										<input class="form-control" name="courseDuration" id="courseDuration" value="" placeholder="Enter Course Duration">
									</div>

									<!-- Total lecture -->
									<!-- <div class="col-md-6">
										<label class="form-label">Total lecture</label>
										<input class="form-control" type="text" placeholder="Enter total lecture">
									</div> -->

									<!-- Course price -->
									<div class="col-md-6">
										<label class="form-label">Course price</label>
									<input type="text" class="form-control" name="courseCurrency" id="courseCurrency" placeholder="Currency" readonly>

										<input type="text" class="form-control" placeholder="Coming Soon" name="courseCost" id="courseCost" value="9999.99" readonly>
									</div>

									
									

									<!-- Step 1 button -->
									<div class="d-flex justify-content-end mt-3">
										<button type="button" class="btn btn-primary next-btn mb-0">Next</button>
									</div>
								</div>
								<!-- Basic information START -->
							</div>
							<!-- Step 1 content END -->

							<!-- Step 2 content START -->
							<div id="step-2" role="tabpanel" class="content fade" aria-labelledby="steppertrigger2">
								<!-- Title -->
								<h4>Course media</h4>

								<hr> <!-- Divider -->

								<div class="row">
									<!-- Upload image START -->
									<div class="col-12">
										<div class="text-center justify-content-center align-items-center p-4 p-sm-5 border border-2 border-dashed position-relative rounded-3">
											<!-- Image -->
											<img src="files/images/gallery.svg" class="h-50px" alt="">
											<div>
												<h6 class="my-2">Upload course image here</h6>
												<label style="cursor:pointer;">
													<span> 
														<input class="form-control stretched-link"  type="file" name="thumbnail" accept="image/*" id="thumbnail"/>
													</span>
												</label>
													<p class="small mb-0 mt-2"><b>Note:</b> Only JPG, JPEG and PNG. Our suggested dimensions are 600px * 450px. Larger image will be cropped to 4:3 to fit our thumbnails/previews.</p>
											</div>	
										</div>

										<!-- Button -->
										<div class="d-sm-flex justify-content-end mt-2">
											<button type="button" class="btn btn-sm btn-danger-soft mb-3">Remove image</button>
										</div>
									</div>
									<!-- Upload image END -->

									<!-- Upload video START -->
									<div class="col-12">
										<h5>Upload video</h5>
										<!-- Input -->

										<div class="col-12">
											<label class="form-label">Upload video</label>
											<div class="input-group mb-3">
												<input class="form-control" type="file" name="video" accept="video/*" id="video">
												<label class="input-group-text">.mp4</label>
											</div>
										</div>

										
									</div>
									<!-- Upload video END -->

									<!-- Step 2 button -->
									<div class="d-flex justify-content-between mt-3">
										<button type="button" class="btn btn-secondary prev-btn mb-0">Previous</button>
                                        <button type="button" class="btn btn-success next-btn mb-0" id="createNewCourses">Submit Course</button>
									</div>
                                    <p class="mb-0 small mt-1">Once you click "Submit Course", your course will be uploaded and marked as pending for review.</p>
								</div>
							</div>
							<!-- Step 2 content END -->

							

							
							<button type="submit" id="createNEW_TUTORIAL" hidden>HHOh</button>

						</form>
					</div>
				</div>
				<!-- Card body END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Steps END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->



<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- =======================
Footer START -->
<footer class="bg-dark p-3">
	<div class="container">
		<div class="row align-items-center">
            <!-- Widget -->
            <div><script src="/js/footer.js"></script></div>
			<!-- Widget -->
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/mainjs.js"></script>
<script src="/js/scholarControls/createCoursesClient.js"></script>

<!-- Back to top -->
<div class="back-top"><i class="fas fa-arrow-up position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/js/choices.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/glightbox.js"></script>
<script src="/js/quill.min.js"></script>
<script src="/js/bs-stepper.min.js"></script>

<!-- Template Functions -->
<script src="/js/functions.js"></script>

<script>
        document.addEventListener('DOMContentLoaded', function () {
          const loader = document.getElementById('custom-loader');
    
              setTimeout(() => {
                loader.classList.add('hide');
              }, 500); // optional delay for smoother transition
            
          });
      
      </script>
</body>


</html>