<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Weperch Technologies Ltd">
	<meta name="description" content="ASFI, African Science Frontiers Initiatives, African Scientists, African Scholars, Scholars, Education">
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/scholarDashboard.css">
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/library.css">
        
        
        <!-- Favicon -->
	<link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png">
    
        <link rel="stylesheet" href="/css/css/fontawesome.css">
        <link rel="stylesheet" href="/css/css/fontawesome-all.css">
    
        <link rel="stylesheet" href="/css/material-design-iconic-font.css">
        <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
        <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">
    
        <title>Library - Books</title>
        <!-- Dark mode -->
	 <script src="/js/colorTheme.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.10.111/pdf.min.js"></script>

    </head>
<body id="body">
    <%- include ("loader") %>
  <input type="hidden" id="podcast_array_container" value="[]">
  <input type="hidden" value="<%=Username%>" id="usernameContainer" readonly>
<input type="hidden" id="profilePhoto" value="<%=ProfileImage%>" readonly>

    <!-- Header START -->
    <%- include('header') %>
    <!-- Header END -->
       

    <main>
         <!-- NAVIGATION BAR  -->
         <sidebar class="left-navigation-bar ">
            <%if(accountType == "scholar_account") {%>
                <%- include('scholarNavbar') %>
                <% } else if(accountType == "user_account"){%>
                    <%- include ("navbar") %>
                <%} else if(accountType == "instructor_account") {%>
                    <%- include ("instructorNavbar") %>
        
                    <% } else if(accountType == "administrator") {%>
               <%- include ("adminNavbar") %>
               <% } %>
         </sidebar>
         <!-- END NAVIGATION BAR  -->

        <div class="modal_container shown">
           
           <div class="modalMain bg-shadow">
               <div class="modal_header">
               <div class="book_title"> <span class="bookTitle"><%= bookTitle %></span><span class="bookAuthor"> - Published by <%= bookAuthor %></span>  </div>
               <div class="page_count"> <a href="../">
                   <span class="close_button" id="close_modal">&times;</span></a>
               </div>
               </div>
   
               <div class="modal_body" style="height: 100vh !important; max-height: 100vh;">
                
   
   <canvas id="pdf-viewer" style="width:100%; height: 100vh;"></canvas>
               </div>
   
               <div class="modal_footer">
                   <div class="download_button">
                       <a href="/library/books/<%= book_ID %>"> <i class="fa fa-download"></i></a>
                   </div>
   
         
                   <!-- <div id="warning"></div> -->
               </div>
   
           </div>
       </div>
       
 <!-- Start right section  -->
 <!-- Include Notification panel -->
 <div class="MainRight_side">
	<%- include("notificationsPanel.ejs") %>
	  </div>
	<!--Include Chats Panel-->
	<div class="ChatRight_side">
		<%- include("chatsPanel.ejs") %>
	</div>
	<!-- End right Section  -->
    </main>
   

      




<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/library.js" type="module"></script>
<script src="/js/mainjs.js"></script>
<script src="/js/getNotifications.js"></script>
<script src="/js/getChatNotifications.js"></script>
<!-- Back to top -->
<div class="back-top"><i class="fas fa-arrow-up position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/glightbox/js/glightbox.js"></script>


<script>
  const urlPage = "<%= cloudinaryPDFUrl %>";

  pdfjsLib.getDocument(urlPage).promise.then(pdf => {
    pdf.getPage(1).then(page => {
      const scale = 1.5;
      const viewport = page.getViewport({ scale });

      const canvas = document.getElementById('pdf-viewer');
      const context = canvas.getContext('2d');
      canvas.height = viewport.height;
      canvas.width = viewport.width;

      const renderContext = {
        canvasContext: context,
        viewport: viewport
      };
      page.render(renderContext);
    });
  });
</script>
<script>
	const notifications = document.querySelector("#notifications");
	const chats = document.querySelector("#chats");
	const notificationsPanel = document.querySelector(".MainRight_side");
	const chatsPanel = document.querySelector(".ChatRight_side");
	const closeButtonNotification = document.querySelector(".close_button_notification");
	const closeButtonChat = document.querySelector(".close_button_chat");
	notifications.addEventListener("click", () => {
    notificationsPanel.classList.toggle("visible");
	chatsPanel.classList.remove("visible");
});
chats.addEventListener("click", () => {
    chatsPanel.classList.toggle("visible");
	notificationsPanel.classList.remove("visible");
});
closeButtonNotification.addEventListener("click", function(){
    notificationsPanel.classList.toggle("visible");
})
closeButtonChat.addEventListener("click", function(){
    chatsPanel.classList.toggle("visible");
})
</script>

<script>
        document.addEventListener('DOMContentLoaded', function () {
          const loader = document.getElementById('custom-loader');
    
              setTimeout(() => {
                loader.classList.add('hide');
              }, 500); // optional delay for smoother transition
            
          });
      
      </script>
</body>

</html>