<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Podcasts, Education">
        <link rel="stylesheet" href="/css/contactUs.css">
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/podcasts.css">
       
        <script src="/js/waveSurfer.js"></script>
        <!-- Favicon -->
        <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png">
    
        <link rel="stylesheet" href="/css/css/fontawesome.css">
        <link rel="stylesheet" href="/css/css/fontawesome-all.css">
    
        <link rel="stylesheet" href="/css/material-design-iconic-font.css">
        <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
        <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">
    
        <title> | Podcasts</title>
        <!-- Dark mode -->
	 <script src="/js/colorTheme.js"></script>
    </head>
<body>
  <input type="hidden" id="podcast_array_container" value="[]">
     <!-- NAVIGATION BAR  -->
     <sidebar class="left-navigation-bar bg-shadow ">
        <%if(accountType == "scholar_account") {%>
         <script src="/js/scholarNavbar.js"></script>
         <% } else if(accountType == "user_account"){%>
             <script src="/js/navbar.js"></script>
         <%} else if(accountType == "instructor_account") {%>
             <script src="/js/instructorNavbar.js"></script>
 
             <% } %>
     </sidebar>
     <!-- END NAVIGATION BAR  -->
    <!-- Header START -->
<header class="navbar-light navbar-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<button class="stack-bars fa ">
            </button>

            
                    <searchBar>
                        <form id="searchForm">
                          <input type="text" placeholder="Find a podcast to listen to: Search by title or Owner" id="searchPodcast" />
                          <button type="submit" hidden>

                          </button>
                  </form>
                  <i class="fa fa-search"></i>                  
    
                    </searchBar>
               
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
    

<main>
    <!-- <div class="podcast_header"><h4>Podcasts</h4></div> -->
   
<div class="podcast_container" id="podcast_container">
    <!-- <button id="playButton">PLAY MEDIA</button> -->

   
</div>

    <!-- Pagination START -->
    <div class="col-12">
        <nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
            <ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                <% if (totalPages > 1) { %>
                  <% if (currentPage > 1) { %>
                    <li class="page-item mb-0">
                      <a class="page-link" href="?pagePodcast=<%= currentPage - 1 %>" tabindex="-1" id="prevLinkPage">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                  <% } %>
              
                  <% const maxPagesToShow = 5; %>
                  <% const halfMax = Math.floor(maxPagesToShow / 2); %>
                  <% const startPage = Math.max(currentPage - halfMax, 1); %>
                  <% const endPage = Math.min(currentPage + halfMax, totalPages); %>
                  <% const nextPage = Math.floor(currentPage) + 1 %>

              
                  <% if (startPage > 1) { %>
                    <li class="page-item mb-0">
                      <a class="page-link" href="?pagePodcast=1">1</a>
                    </li>
                    <% if (startPage > 2) { %>
                      <li class="page-item mb-0"><a class="page-link" href="#">..</a></li>
                    <% } %>
                  <% } %>
              
                  <% for (let i = startPage; i <= endPage; i++) { %>
                    <li class="page-item mb-0 <%= i === currentPage ? 'active' : '' %>">
                      <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                  <% } %>
              
                  <% if (endPage < totalPages) { %>
                    <% if (endPage < totalPages - 1) { %>
                      <li class="page-item mb-0"><a class="page-link" href="#">..</a></li>
                    <% } %>
                    <li class="page-item mb-0"><a class="page-link" href="?page=<%= totalPages %>"><%= totalPages %></a></li>
                  <% } %>
              
                  <% if (currentPage < totalPages) { %>
                    <li class="page-item mb-0">
                      <a class="page-link" href="?page=<%= nextPage %>" id="nextBookPage">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                  <% } %>
                <% } %>
              </ul>
              
            <span class="bookPageInfo">Page <%=currentPage%> of <%=totalPages  %></span>

        </nav>

    </div>
    <!-- Pagination END -->
</main>
<!-- =======================
Footer START -->
<footer class="bg-dark p-3">
	<div class="container">
		<div class="row align-items-center">
            <!-- Widget -->
            <div><script src="/js/footer.js"></script></div>
			<!-- Widget -->
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->
<!-- PODCAST_ARRAY -->
<script src="/js/podcastContent.js"></script>
<script src="/js/searchQueries/podcastSearch.js" type="module"></script>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/mainjs.js"></script>


<!-- Back to top -->
<div class="back-top"><i class="fas fa-arrow-up position-absolute top-50 start-50 translate-middle"></i></div>



</body>
</html>
</body>
</html>