<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Weperch Technologies Ltd">
	<meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/scholarProfile.css">
    <link rel="stylesheet" href="/css/general.css">
   
    
    <!-- Favicon -->
	<link rel="shortcut icon" href="/files/images/ASFIScholar_Logo.png">

    <link rel="stylesheet" href="/css/css/fontawesome.css">
    <link rel="stylesheet" href="/css/css/fontawesome-all.css">

    <link rel="stylesheet" href="/css/material-design-iconic-font.css">
    <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
    <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">

    <title><%= UserName %> | Profile Page</title>
    <!-- Dark mode -->
	<script src="/js/colorTheme.js"></script>

</head>

<body>
	<input type="text" id="usernameContainer" value="<%= UserName %>" readonly hidden>


	<%- include ("bookUploadModal") %>
	<%- include ("podcastUploadModal") %>

    <!-- NAVIGATION BAR  -->
    <sidebar class="left-navigation-bar bg-shadow ">
        <%if(accountType == "scholar_account") {%>
         <script src="/js/scholarNavbar.js"></script>
         <% } else if(accountType == "user_account"){%>
             <script src="/js/navbar.js"></script>
         <%} else if(accountType == "instructor_account") {%>
             <script src="/js/instructorNavbar.js"></script>
 
             <% } %>
     </sidebar>
     <!-- END NAVIGATION BAR  -->

<!-- Header START -->
<header class="navbar-light navbar-sticky" style="background: transparent; border: none;">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<button class="stack-bars fa ">
            </button>



			<!-- Profile START -->
			<div class="dropdown ms-1 ms-lg-0">
                <course_details>
                    <course_name>
                        <% if(Course == 'N/A'){ %>

                            <% } else { %>
                             <%= Course %>
                             <% } %>
                    </course_name>
                    <course_year>
                        <% if(CourseYear == 'N/A'){ %>

                       <% } else { %>
                        <%= CourseYear %> School Year
                        <% } %>
                    </course_year>
                </course_details>
                <personal_info>
                    <account_name><%= FirstName %> <%= LastName %></account_name>
                </personal_info>

                
				<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                    <% if(ProfileImage == "avatar.jpg"){ %>
						<img class="avatar-img rounded-circle border border-white border-3 shadow" src="https://eu.ui-avatars.com/api/?background=random&name=<%= FirstName %>+<%= LastName %>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff" alt='<%= ProfileImage %> '>
						<% } else { %>

						<img class="avatar-img rounded-circle border border-white border-3 shadow"
						src="/userUploads/profileImages/<%=ProfileImage%>" alt="<%=ProfileImage%>">
						<% }%>
					
				</a>
                
                
				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
					<!-- Profile info -->
					<li class="px-3 mb-3">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar me-3">
								<% if(ProfileImage == "avatar.jpg"){ %>
									<img class="avatar-img rounded-circle border border-white border-3 shadow" src="https://eu.ui-avatars.com/api/?background=random&name=<%= FirstName %>+<%= LastName %>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff" alt='<%= ProfileImage %> '>
									<% } else { %>
			
									<img class="avatar-img rounded-circle border border-white border-3 shadow"
									src="/userUploads/profileImages/<%=ProfileImage%>" alt="<%=ProfileImage%>">
									<% }%>
							</div>
							<div>
								<a class="h6" href="/dashboard">@<%= UserName %></a>
								<p class="small m-0"><%= Email %></p>
							</div>
						</div>
					</li>
                    
          <li> <hr class="dropdown-divider"></li>
					<!-- Links -->
					<li><a class="dropdown-item" href="/settings"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
					<li><a class="dropdown-item" href="/settings"><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>
					<li><a class="dropdown-item" href="/contactUs"><i class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>
					<li><a class="dropdown-item bg-danger-soft-hover" href="/logout"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
					<li> <hr class="dropdown-divider"></li>
					<!-- Dark mode options START -->
					<li>
						<div class="bg-light dark-mode-switch theme-icon-active d-flex align-items-center p-1 rounded mt-2">
							<button type="button" class="btn btn-sm mb-0" data-bs-theme-value="light">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun fa-fw mode-switch" viewBox="0 0 16 16">
									<path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
									<use href="#"></use>
								</svg> Light
							</button>
							<button type="button" class="btn btn-sm mb-0" data-bs-theme-value="dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars fa-fw mode-switch" viewBox="0 0 16 16">
									<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
									<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
									<use href="#"></use>
								</svg> Dark
							</button>
							<button type="button" class="btn btn-sm mb-0 active" data-bs-theme-value="auto">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half fa-fw mode-switch" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
									<use href="#"></use>
								</svg> Auto
							</button>
						</div>
					</li> 
					<!-- Dark mode options END-->
				</ul>
			</div>
			<!-- Profile START -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main class="scholar_main">
	
<!-- =======================
Page Banner START -->
<section class="pt-0">
	<!-- Main banner background image -->
	<div class="container-fluid px-0" style="margin-top: -20%;">
		<div class="bg-blue h-400px h-md-400px rounded-0 d-flex " style="background:url(/userUploads/profileCovers/<%=ProfileCover%>) no-repeat center center; background-size:cover;">
			<span class="edit-cover fas fa-pencil-alt"></span>
		</div>
	</div>
	<div class="container mt-n4">
		<div class="row">
			<!-- Profile banner START -->
			<div class="col-12">
				<div class="card bg-transparent card-body p-0">
					<div class="row d-flex justify-content-between">
						<!-- Avatar -->
						<div class="col-auto mt-4 mt-md-0">
							<div class="avatar avatar-xxl mt-n3">
                                <% if(ProfileImage == "avatar.jpg"){ %>
								<img class="avatar-img rounded-circle border border-white border-3 shadow" src="https://eu.ui-avatars.com/api/?background=random&name=<%= FirstName %>+<%= LastName %>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff" alt='<%= ProfileImage %> '>
                                <% } else { %>

                                <img class="avatar-img rounded-circle border border-white border-3 shadow"
                                src="/userUploads/profileImages/<%=ProfileImage%>" alt="<%=ProfileImage%>">
                                <% }%>
							</div>
                           
						</div>
						<!-- Profile info -->
						<div class="col d-md-flex justify-content-between align-items-center mt-4">
							<div>
								<h1 class="my-1 fs-4"><%= FirstName %> <%= LastName %><i class="bi bi-patch-check-fill text-info small"></i></h1>
                                <p class="profile-tag">@<%= UserName %></p>
								<%- include("scholarSubmenu.ejs") %>

							</div>
							<!-- Button -->
                            <div class="dropdown dash_upload">
                                <span href="#" class="assets_button" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-edit"></i> Upload Resources</span>
                                <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                                    <li><a class="dropdown-item" href="#" id="BookUploadBtn"><i class="fa fa-book fa-fw me-2"></i>Upload Publication/Book</a></li>
					<li><a class="dropdown-item" href="#" id="PodcastUploadBtn"><i class="fas fa-microphone fa-fw me-2"></i>Upload Podcast</a></li>
                                </ul>
							</div> 
						</div>
					</div>
				</div>
				<!-- Profile banner END -->
               
				<!-- Advanced filter responsive toggler START -->
				<!-- Divider -->
				<hr class="d-xl-none">
				<div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
					<a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
					<button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="fas fa-sliders-h"></i>
					</button>
				</div>
				<!-- Advanced filter responsive toggler END -->

			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Page content START -->
<section class="pt-0">
	<div class="container">
		<div class="row">

			<!-- Left sidebar START -->
			<div class="col-xl-3">
				<!-- Responsive offcanvas body START -->
				<div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar">
					<!-- Offcanvas header -->
					<div class="offcanvas-header bg-light">
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel">My profile</h5>
						<button  type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
					</div>
					<!-- Offcanvas body -->
					<div class="offcanvas-body p-3 p-xl-0">
						<div class="bg-dark border rounded-3 pb-0 p-3 w-100">
							<!-- Dashboard menu -->
							<%- include("scholarDashboardMenu") %>
								<div class="list-group list-group-dark list-group-borderless">
								<a class="list-group-item text-danger bg-danger-soft-hover" href="/logout"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Sign Out</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Responsive offcanvas body END -->
			</div>
			<!-- Left sidebar END -->

			<!-- Main content START -->
			<div class="col-xl-9">
				<!-- Edit profile START -->
				<div class="card bg-transparent border rounded-3">
					<!-- Card header -->
					<div class="card-header bg-transparent border-bottom edit">
						<h3 class="card-header-title mb-0">Edit Profile</h3>
						<span class="edit-button" id="profile-edit">Edit</span>
					</div>
					<!-- Card body START -->
					<div class="card-body">
						<!-- Form -->
                        <h6 class="Bio-data">Bio Data</h6>
						<form class="row g-4" id="form1">
                            <input type="text" name="usernameValidator" id="usernameValidator" value="<%= UserName %>" readonly hidden>
                                <input type="text" name="ID_Validator" id="ID_Validator" value="<%= validPoint %>" readonly hidden>

							<!-- Profile picture -->
							<div class="col-12 justify-content-center align-items-center">
                                
								<label class="form-label">Profile picture</label>
								<div class="d-flex align-items-center">
									<label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
										<!-- Avatar place holder -->
										<span class="avatar avatar-xl">
											<% if(ProfileImage == "avatar.jpg"){ %>
												<img class="avatar-img rounded-circle border border-white border-3 shadow" src="https://eu.ui-avatars.com/api/?background=random&name=<%= FirstName %>+<%= LastName %>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff" alt='<%= ProfileImage %> '>
												<% } else { %>
						
												<img class="avatar-img rounded-circle border border-white border-3 shadow"
												src="/userUploads/profileImages/<%=ProfileImage%>" alt="<%=ProfileImage%>">
												<% }%>
										</span>
										<!-- Remove btn -->
										<button type="button" class="uploadremove"><i class="bi bi-x text-white"></i></button>
									</label>
									<!-- Upload button -->
									<label class="btn btn-primary-soft mb-0 edit-image" for="uploadfile-1">Change</label>
									<!-- <input id="uploadfile-1" class="form-control d-none" type="file"> -->
								</div>
							</div>

							<!-- Full name -->
							<div class="col-12" id="prf">
								<label class="form-label">Full name</label>
								<div class="input-group">
									<input type="text" class="form-control" name="firstname" id="firstname" class='profile_input_field' value="<%= FirstName %>">
									<input type="text" class="form-control" name="lastname" id="lastname" class='profile_input_field' value="<%= LastName %>">
								</div>
							</div>

							<!-- Title -->
							<div class="col-md-6">
								<label class="form-label">Title</label>
								<div class="input-group">
									<span class="input-group-text">Your Title</span>
									<input type="text" class="form-control" name="title" id="title" class='profile_input_field' value="">
								</div>
							</div>

							<!-- Username -->
							<div class="col-md-6">
								<label class="form-label">Username</label>
								<div class="input-group">
									<span class="input-group-text">AsfiScholar</span>
									<input type="text" class="form-control" name="username" id="username" class='profile_input_field' value="<%= UserName %>">
								</div>
							</div>

							<!-- Email id -->
						
                            <div class="col-md-6 gender_settings">
                                <label class="form-label" name="gender">Gender</label>
                                <span><input class="" type="radio" name="gender" id="gender1" value="Male">Male</span>
                                <span><input class="" type="radio" name="gender" id="gender2" value="Female">Female</span>
                                <span><input class="" type="radio" name="gender" id="gender3" value="Other">Prefer not to say</span>
                            </div>

							<!-- Phone number -->
							<div class="col-md-6">
								<label class="form-label">Phone number</label>
                                <% if(PhoneNumber != 0){ %>
                                    <input type="text" name="phonenumber" id="phonenumber" class='form-control' value="<%=PhoneNumber %>" minlength=11 maxlength="20" readonly>
                                    <%} else {%>
                                    <input type="text" name="phonenumber" id="phonenumber" class='form-control' placeholder="Not Applicable" minlength=11 maxlength="20" readonly>
                                    <% } %>
							</div>

							<!-- Location -->
							<div class="col-md-6">
								<label class="form-label">Location</label>
								<% if(HomeAddress !=""){ %>
								<input class="form-control" type="text" name="newLocation" id="newLocation" value="<%=HomeAddress%>">
								<% } else { %>
								<input class="form-control" type="text" name="newLocation" id="newLocation">
								<%}%>
							</div>
							
							<!-- About me -->
							<div class="col-12">
								<label class="form-label">Bio</label>
								<%if(bio != "") {%>
								<textarea class="form-control" rows="3" name="bio" id="bio"><%=bio%></textarea>
								<%} else { %>
								<textarea class="form-control" rows="3" name="bio" id="bio" value=""></textarea>
								<div class="form-text">Brief description for your profile.</div> 
									<%}%>
							</div>

							<!-- Education -->
							<div class="col-12">
								<label class="form-label">Education</label>

								<%- include ("degrees.ejs") %>

								<div class=" inputFieldContainer">

								<input class="form-control mb-2" type="text" name="honoraryName[]" value="" placeholder="Enter Degree">
								<input class="form-control mb-2" type="text" name="honoraryText[]" value="" placeholder="Enter Description: i.e (Attained from Winsconsin University)">
								<hr>
	                            
								</div>

								<button type="button" class="btn btn-sm btn-light mb-0 add-more"><i class="fa fa-plus me-1"></i>Add more</button>
							</div>
							

							<!-- Save button -->
							<div class="d-sm-flex justify-content-end">
								<button type="submit" class="btn btn-primary mb-0" id="mainSaveChanges" disabled>Save changes</button>
							</div>
						</form>
					</div>
					<!-- Card body END -->
				</div>
				<!-- Edit profile END -->
				
				<div class="row g-4 mt-3">

					<!-- External profile START -->
					<form class="col-lg-6" id="form2">
						<input type="text" value="<%=UserName%>" id="usernameVal" hidden>
						<div class="card bg-transparent border rounded-3">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom edit">
								<h5 class="card-header-title mb-0">External Profiles</h5>
								<span class="edit-button" id="links-edit">Edit</span>
							</div>
							<!-- Card body START -->
							<div class="card-body">
								<!-- LinkedIn username -->
								<div class="mb-3">
									
									<%if(LinkedIn_Link != "N/A" && LinkedIn_Link != "") {%>
										<label class="form-label"><i class="fab fa-linkedin text-facebook me-2"></i>
											<%=LinkedIn_Link%>
										<input class="form-control" type="text" id="link-linkedin" value="<%=LinkedIn_Link%>" placeholder="Enter URL" hidden>

											</label>
									<%} else {%>
										<label class="form-label"><i class="fab fa-linkedin text-facebook me-2"></i>
									Enter LinkedIn profile URL</label>
										<input class="form-control" type="text" id="link-linkedin" value="" placeholder="Enter URL">
										<%}%>
									

								</div>
								
								<!-- Facebook username -->
								<div class="mb-3">
									<% if( FacebookLink!= "N/A" &&  FacebookLink != ""){ %>
									<label class="form-label"><i class="fab fa-facebook text-facebook me-2"></i><%=FacebookLink%></label>
									<input class="form-control" type="text" id="link-facebook" value="<%=FacebookLink%>"  hidden>
										<% } else {%>
									<label class="form-label"><i class="fab fa-facebook text-facebook me-2"></i>Enter facebook profile URL</label>
									<input class="form-control" type="text" id="link-facebook" value="" placeholder="Enter URL">
									<%}%>
								</div>
								
								<!-- Twitter username -->
								<div class="mb-3">
									<% if(Twitter_link != "" && Twitter_link !="N/A") { %>
									<label class="form-label"><i class="fab fa-twitter text-twitter me-2"></i><%=Twitter_link%></label>
									<input class="form-control" type="text" value="<%=Twitter_link%>" id="link-twitter" hidden>

										<% } else { %>
									<label class="form-label"><i class="fab fa-twitter text-twitter me-2"></i>Enter X (formally Twitter) profile URL</label>
									<input class="form-control" type="text" value="" id="link-twitter" placeholder="Enter URL">
									<% }%>
								</div>

								<!-- Instagram username -->
								<div class="mb-3">
									<% if(Instagram != "N/A" && Instagram != "") { %>
										<label class="form-label"><i class="fab fa-instagram text-instagram-gradient me-2"></i><%=Instagram%></label>
									<input class="form-control" type="text" value="<%=Instagram%>" id="link-instagram" hidden>

										<%} else{ %>
									<label class="form-label"><i class="fab fa-instagram text-instagram-gradient me-2"></i>Enter instagram profile URL</label>
									<input class="form-control" type="text" value="" id="link-instagram" placeholder="Enter URL">
									<% } %>
								</div>

								<!-- Youtube -->
								<div class="mb-3">
									<%if(youtube != "" && youtube !="N/A"){ %>
										<label class="form-label"><i class="fab fa-youtube text-youtube me-2"></i><%=youtube%></label>
									<input class="form-control" type="text" value="<%=youtube%>" id="link-youtube" hidden>

										<%} else {%>
									<label class="form-label"><i class="fab fa-youtube text-youtube me-2"></i>Add your youtube profile URL</label>
									<input class="form-control" type="text" value="" id="link-youtube" placeholder="Enter URL">
									<%}%>
								</div>

								<!-- Google Scholar -->
								<div class="mb-3">
									<% if(GoogleScholar != "N/A" && GoogleScholar !="") { %>
										
									<label class="form-label"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4285f4" d="M256 411.12L0 202.667 256 0z"/><path fill="#356ac3" d="M256 411.12l256-208.453L256 0z"/><circle fill="#a0c3ff" cx="256" cy="362.667" r="149.333"/><path fill="#76a7fa" d="M121.037 298.667c23.968-50.453 75.392-85.334 134.963-85.334s110.995 34.881 134.963 85.334H121.037z"/></svg> <%=GoogleScholar%> </label>
									<input class="form-control" type="text" value="<%=GoogleScholar%>" id="link-googlescholar" hidden>

										<%} else {%>
									<label class="form-label"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4285f4" d="M256 411.12L0 202.667 256 0z"/><path fill="#356ac3" d="M256 411.12l256-208.453L256 0z"/><circle fill="#a0c3ff" cx="256" cy="362.667" r="149.333"/><path fill="#76a7fa" d="M121.037 298.667c23.968-50.453 75.392-85.334 134.963-85.334s110.995 34.881 134.963 85.334H121.037z"/></svg> Add your Google Scholar profile URL</label>
									<input class="form-control" type="text" value="" id="link-googlescholar" placeholder="Enter URL">
									<%}%>
								</div>

								<!-- ResearchGate -->
								<div class="mb-3">
									<% if(research_Gate != "N/A" && research_Gate !="" ) {%>
										
									<label class="form-label"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="researchgate"><path fill="#2FCAAA" d="M0 24h24V0H0v24zM13.549 7.233c0-.654.472-1.628 1.822-1.628S17 6.564 17 6.564l-.574.385s-.295-.67-1.055-.67c-.423 0-1.055.391-1.055 1.055v1.435c0 .718.353 1.248.959 1.248.755 0 1.152-.584 1.152-1.435h-.959v-.574h1.629c0 1.098.251 2.673-1.822 2.673l-.001.001c-1.248 0-1.725-.841-1.725-1.724V7.233zM5.635 17.48c.831-.155 1.178-.07 1.178-1.28v-5.861c0-1.21-.343-1.125-1.178-1.28v-.434c1.382.054 2.845-.032 3.798-.032 1.698 0 2.994.771 2.994 2.442 0 1.13-.895 2.261-2.101 2.545a17.86 17.86 0 0 0 2.26 3.155c.385.418.921.787 1.457.787v.391h.002c-.353.161-1.778.321-2.679-.761-.493-.568-1.355-1.784-2.261-3.407-.477 0-.787 0-1.146-.032V16.2c0 1.259.321 1.136 1.382 1.28v.434a52.203 52.203 0 0 0-1.908-.044c-.702 0-1.398.032-1.8.044v-.434z"></path><path fill="#2FCAAA" d="M9.032 13.078c1.323 0 2.127-.788 2.127-1.961 0-1.194-.745-1.848-1.993-1.848-.402 0-.863 0-1.206.032v3.734c.344.026.568.042 1.072.042v.001z"></path></svg> <%= research_Gate %></label>
									<input class="form-control" type="text" value="<%= research_Gate %>" id="link-researchgate" hidden>

									<% } else {%>
									<label class="form-label"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="researchgate"><path fill="#2FCAAA" d="M0 24h24V0H0v24zM13.549 7.233c0-.654.472-1.628 1.822-1.628S17 6.564 17 6.564l-.574.385s-.295-.67-1.055-.67c-.423 0-1.055.391-1.055 1.055v1.435c0 .718.353 1.248.959 1.248.755 0 1.152-.584 1.152-1.435h-.959v-.574h1.629c0 1.098.251 2.673-1.822 2.673l-.001.001c-1.248 0-1.725-.841-1.725-1.724V7.233zM5.635 17.48c.831-.155 1.178-.07 1.178-1.28v-5.861c0-1.21-.343-1.125-1.178-1.28v-.434c1.382.054 2.845-.032 3.798-.032 1.698 0 2.994.771 2.994 2.442 0 1.13-.895 2.261-2.101 2.545a17.86 17.86 0 0 0 2.26 3.155c.385.418.921.787 1.457.787v.391h.002c-.353.161-1.778.321-2.679-.761-.493-.568-1.355-1.784-2.261-3.407-.477 0-.787 0-1.146-.032V16.2c0 1.259.321 1.136 1.382 1.28v.434a52.203 52.203 0 0 0-1.908-.044c-.702 0-1.398.032-1.8.044v-.434z"></path><path fill="#2FCAAA" d="M9.032 13.078c1.323 0 2.127-.788 2.127-1.961 0-1.194-.745-1.848-1.993-1.848-.402 0-.863 0-1.206.032v3.734c.344.026.568.042 1.072.042v.001z"></path></svg> Add your ResearchGate profile URL</label>
									<input class="form-control" type="text" value="" id="link-researchgate" placeholder="Enter URL">
									<%}%>
								</div>

								<!-- Web of Science -->
								<div class="mb-3">
            					<%if(WebOfScience_Link !="N/A" && WebOfScience_Link !=""){ %>									
									<label class="form-label"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 398.8c-11.8 5.1-23.4 9.7-34.9 13.5c16.7 33.8 31 35.7 34.9 35.7s18.1-1.9 34.9-35.7c-11.4-3.9-23.1-8.4-34.9-13.5zM446 256c33 45.2 44.3 90.9 23.6 128c-20.2 36.3-62.5 49.3-115.2 43.2c-22 52.1-55.6 84.8-98.4 84.8s-76.4-32.7-98.4-84.8c-52.7 6.1-95-6.8-115.2-43.2C21.7 346.9 33 301.2 66 256c-33-45.2-44.3-90.9-23.6-128c20.2-36.3 62.5-49.3 115.2-43.2C179.6 32.7 213.2 0 256 0s76.4 32.7 98.4 84.8c52.7-6.1 95 6.8 115.2 43.2c20.7 37.1 9.4 82.8-23.6 128zm-65.8 67.4c-1.7 14.2-3.9 28-6.7 41.2c31.8 1.4 38.6-8.7 40.2-11.7c2.3-4.2 7-17.9-11.9-48.1c-6.8 6.3-14 12.5-21.6 18.6zm-6.7-175.9c2.8 13.1 5 26.9 6.7 41.2c7.6 6.1 14.8 12.3 21.6 18.6c18.9-30.2 14.2-44 11.9-48.1c-1.6-2.9-8.4-13-40.2-11.7zM290.9 99.7C274.1 65.9 259.9 64 256 64s-18.1 1.9-34.9 35.7c11.4 3.9 23.1 8.4 34.9 13.5c11.8-5.1 23.4-9.7 34.9-13.5zm-159 88.9c1.7-14.3 3.9-28 6.7-41.2c-31.8-1.4-38.6 8.7-40.2 11.7c-2.3 4.2-7 17.9 11.9 48.1c6.8-6.3 14-12.5 21.6-18.6zM110.2 304.8C91.4 335 96 348.7 98.3 352.9c1.6 2.9 8.4 13 40.2 11.7c-2.8-13.1-5-26.9-6.7-41.2c-7.6-6.1-14.8-12.3-21.6-18.6zM336 256a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zm-80-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
										<%= WebOfScience_Link %></label>
									<input class="form-control" type="text" value="<%= WebOfScience_Link %>" id="link-webofscience" hidden>

									<%} else {%>
										<label class="form-label"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 398.8c-11.8 5.1-23.4 9.7-34.9 13.5c16.7 33.8 31 35.7 34.9 35.7s18.1-1.9 34.9-35.7c-11.4-3.9-23.1-8.4-34.9-13.5zM446 256c33 45.2 44.3 90.9 23.6 128c-20.2 36.3-62.5 49.3-115.2 43.2c-22 52.1-55.6 84.8-98.4 84.8s-76.4-32.7-98.4-84.8c-52.7 6.1-95-6.8-115.2-43.2C21.7 346.9 33 301.2 66 256c-33-45.2-44.3-90.9-23.6-128c20.2-36.3 62.5-49.3 115.2-43.2C179.6 32.7 213.2 0 256 0s76.4 32.7 98.4 84.8c52.7-6.1 95 6.8 115.2 43.2c20.7 37.1 9.4 82.8-23.6 128zm-65.8 67.4c-1.7 14.2-3.9 28-6.7 41.2c31.8 1.4 38.6-8.7 40.2-11.7c2.3-4.2 7-17.9-11.9-48.1c-6.8 6.3-14 12.5-21.6 18.6zm-6.7-175.9c2.8 13.1 5 26.9 6.7 41.2c7.6 6.1 14.8 12.3 21.6 18.6c18.9-30.2 14.2-44 11.9-48.1c-1.6-2.9-8.4-13-40.2-11.7zM290.9 99.7C274.1 65.9 259.9 64 256 64s-18.1 1.9-34.9 35.7c11.4 3.9 23.1 8.4 34.9 13.5c11.8-5.1 23.4-9.7 34.9-13.5zm-159 88.9c1.7-14.3 3.9-28 6.7-41.2c-31.8-1.4-38.6 8.7-40.2 11.7c-2.3 4.2-7 17.9 11.9 48.1c6.8-6.3 14-12.5 21.6-18.6zM110.2 304.8C91.4 335 96 348.7 98.3 352.9c1.6 2.9 8.4 13 40.2 11.7c-2.8-13.1-5-26.9-6.7-41.2c-7.6-6.1-14.8-12.3-21.6-18.6zM336 256a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zm-80-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
											Add your Web of Science profile URL</label>
									<input class="form-control" type="text" value="" id="link-webofscience" placeholder="Enter URL">
									<%}%>
								</div>

								<!-- Scopus -->
								<div class="mb-3">
									<% if (Scopus !="N/A" && Scopus !="") {%>
										<label class="form-label"><svg viewBox="0 0 448 512"  xmlns="http://www.w3.org/2000/svg"><path d="m48 32c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-352c0-26.5-21.5-48-48-48zm16 64h320v320h-320zm97.3457 83.27148c-26.48541 0-42.63281 17.22603-42.63281 39.18946 0 21.96348 19.37833 31.43868 37.03516 42.20508 13.13499 7.96715 26.91406 13.35091 26.91406 27.5625 0 13.78101-12.27179 23.6875-26.91406 23.6875-14.42683 0-23.90104-3.23309-34.88282-9.90821l-2.58593 17.01172c11.19722 5.16784 22.60906 7.53711 38.32812 7.53711 21.96359 0 45.00391-13.56447 45.00391-40.48047 0-20.45618-18.08792-29.71697-35.5293-40.05273-13.56586-8.18245-27.99219-13.78058-27.99219-28.85352 0-11.19707 8.18249-23.46875 24.33204-23.46875 13.99635 0 23.68729 2.14946 35.96093 9.47071l1.07617-17.00782c-11.41267-4.73722-19.5951-6.89258-38.11328-6.89258zm134.75391 0c-41.77367 0-73.42578 32.51443-73.42578 73.85743 0 47.15681 37.68263 72.99804 72.78125 72.99804 17.65683 0 32.29805-2.36978 43.92578-8.18359l-1.29102-16.36524c-13.13499 7.1058-27.13255 9.90626-41.1289 9.90626-30.5768 0-54.90821-25.62467-54.90821-59.64649 0-35.95975 23.89985-58.13672 51.89258-58.13672 17.65683 0 31.22459 2.79834 44.14453 9.9043l1.29102-16.15039c-11.84315-5.5985-21.53311-8.1836-43.28125-8.1836z"/></svg>
										<%=Scopus %></label>
									<input class="form-control" type="text" value="<%=Scopus %>" id="link-scopus" hidden>

									<% } else { %>
									<label class="form-label"><svg viewBox="0 0 448 512"  xmlns="http://www.w3.org/2000/svg"><path d="m48 32c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-352c0-26.5-21.5-48-48-48zm16 64h320v320h-320zm97.3457 83.27148c-26.48541 0-42.63281 17.22603-42.63281 39.18946 0 21.96348 19.37833 31.43868 37.03516 42.20508 13.13499 7.96715 26.91406 13.35091 26.91406 27.5625 0 13.78101-12.27179 23.6875-26.91406 23.6875-14.42683 0-23.90104-3.23309-34.88282-9.90821l-2.58593 17.01172c11.19722 5.16784 22.60906 7.53711 38.32812 7.53711 21.96359 0 45.00391-13.56447 45.00391-40.48047 0-20.45618-18.08792-29.71697-35.5293-40.05273-13.56586-8.18245-27.99219-13.78058-27.99219-28.85352 0-11.19707 8.18249-23.46875 24.33204-23.46875 13.99635 0 23.68729 2.14946 35.96093 9.47071l1.07617-17.00782c-11.41267-4.73722-19.5951-6.89258-38.11328-6.89258zm134.75391 0c-41.77367 0-73.42578 32.51443-73.42578 73.85743 0 47.15681 37.68263 72.99804 72.78125 72.99804 17.65683 0 32.29805-2.36978 43.92578-8.18359l-1.29102-16.36524c-13.13499 7.1058-27.13255 9.90626-41.1289 9.90626-30.5768 0-54.90821-25.62467-54.90821-59.64649 0-35.95975 23.89985-58.13672 51.89258-58.13672 17.65683 0 31.22459 2.79834 44.14453 9.9043l1.29102-16.15039c-11.84315-5.5985-21.53311-8.1836-43.28125-8.1836z"/></svg>
										Add your Scopus profile URL</label>
									<input class="form-control" type="text" value="" id="link-scopus" placeholder="Enter URL">
									<%}%>
								</div>

								<!-- Orcid -->
								<div class="mb-3">
									<%if(OrchidLink != "N/A" && OrchidLink !="") { %>
										<label class="form-label"><svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="m48 32c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-352c0-26.5-21.5-48-48-48zm176 64c88.37321 0 160 71.63992 160 160 0 88.36009-71.62679 160-160 160s-160-71.63991-160-160c0-88.36008 71.62679-160 160-160zm-62.61328 58.25391c-7.20016 0-13.03906 5.85223-13.03906 13.02539 0 7.22679 5.85238 13.04101 13.03906 13.04101 7.21328 0 13.03853-5.80111 13.05273-13.04101 0-7.18667-5.83945-13.02539-13.05273-13.02539zm-9.4668 39.90625v132.49414h18.95899v-132.49414zm48.5332 0v132.29296h41.90821c11.77313 0 19.7334-.31931 23.91992-.97265 4.17337-.67994 8.7462-2.00076 13.74609-3.94727 8.54657-3.22692 16.04045-7.97364 22.48047-14.32031 6.33319-6.13339 11.1981-13.25231 14.61133-21.3457h.00195c3.39973-8.07989 5.13334-16.56124 5.11914-25.44141 0-12.37322-3.10653-23.82493-9.30664-34.31836-6.20013-10.47997-14.53388-18.45366-25.02734-23.85351-10.50692-5.41333-24.74519-8.09375-42.78516-8.09375zm19 16.8789h23.67969c9.12005 0 15.7078.33446 19.81446 1.04102 4.12016.67996 8.46645 2.12091 13.0664 4.26758v-.00196c4.55983 2.16014 8.63889 4.92053 12.18555 8.25391 9.61335 8.98698 14.41406 20.59939 14.41406 34.82617 0 14.48017-4.6805 26.45388-14.02734 35.94727-2.91995 2.91994-6.13209 5.36104-9.63867 7.34765-3.50655 2.0001-7.88149 3.62674-13.13477 4.91992-5.25328 1.29317-12.61136 1.94532-22.07812 1.94532h-24.28126z"/></svg>
											<%= OrchidLink %></label>
									<input class="form-control" type="text" value="<%= OrchidLink %>" id="link-orcid" hidden>

										<%} else {%>
									<label class="form-label"><svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="m48 32c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-352c0-26.5-21.5-48-48-48zm176 64c88.37321 0 160 71.63992 160 160 0 88.36009-71.62679 160-160 160s-160-71.63991-160-160c0-88.36008 71.62679-160 160-160zm-62.61328 58.25391c-7.20016 0-13.03906 5.85223-13.03906 13.02539 0 7.22679 5.85238 13.04101 13.03906 13.04101 7.21328 0 13.03853-5.80111 13.05273-13.04101 0-7.18667-5.83945-13.02539-13.05273-13.02539zm-9.4668 39.90625v132.49414h18.95899v-132.49414zm48.5332 0v132.29296h41.90821c11.77313 0 19.7334-.31931 23.91992-.97265 4.17337-.67994 8.7462-2.00076 13.74609-3.94727 8.54657-3.22692 16.04045-7.97364 22.48047-14.32031 6.33319-6.13339 11.1981-13.25231 14.61133-21.3457h.00195c3.39973-8.07989 5.13334-16.56124 5.11914-25.44141 0-12.37322-3.10653-23.82493-9.30664-34.31836-6.20013-10.47997-14.53388-18.45366-25.02734-23.85351-10.50692-5.41333-24.74519-8.09375-42.78516-8.09375zm19 16.8789h23.67969c9.12005 0 15.7078.33446 19.81446 1.04102 4.12016.67996 8.46645 2.12091 13.0664 4.26758v-.00196c4.55983 2.16014 8.63889 4.92053 12.18555 8.25391 9.61335 8.98698 14.41406 20.59939 14.41406 34.82617 0 14.48017-4.6805 26.45388-14.02734 35.94727-2.91995 2.91994-6.13209 5.36104-9.63867 7.34765-3.50655 2.0001-7.88149 3.62674-13.13477 4.91992-5.25328 1.29317-12.61136 1.94532-22.07812 1.94532h-24.28126z"/></svg>
										Add your ORCID profile URL</label>
									<input class="form-control" type="text" value="" id="link-orcid" placeholder="Enter URL">
									<%}%>

								</div>

								<!-- Academia -->
								<div class="mb-3">
									<%if(Academia != "N/A" && Academia != "") {%>
									<label class="form-label"><svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="m48 32c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-352c0-26.5-21.5-48-48-48zm159.79297 64c13.84989-.009235 27.69894.065306 41.54883.304688 37.90242 95.769872 76.87554 191.171612 115.29297 286.757812 3.86753 10.93902 16.28252 13.7763 26.33789 15.80273 0 5.70872.03515 11.41676.03515 17.12696-50.02039-.0378-100.04056.03689-150.0625-.03711 0-5.74523.03516-11.45499.03516-17.16406 12.52441-.95591 28.65788-.21841 36.09961-12.56055 2.87395-9.57663-.33071-19.56009-3.86719-28.47266-5.30418-13.2243-10.60874-26.44817-15.91406-39.63476-38.64033-.14616-77.24053.11182-115.88086-.10938-6.96146 16.24434-13.00418 32.85791-19.37695 49.32227-2.65131 7.25635-5.48704 16.90792.92187 23.0957 8.14043 6.92532 19.63312 6.74091 29.65234 8.28711.036 5.7464.03607 11.49287.07227 17.27539-31.89881-.0372-63.796493.0735-95.695312-.07422-.000001-5.67257.035156-11.34406.035156-16.98047 9.760071-2.02491 21.953528-4.42154 25.673828-15.14062 32.931248-84.131 65.898238-168.29689 98.349608-252.61133-5.34146-11.49312-9.65208-23.42525-14.80859-34.992188 13.84988-.092488 27.70089-.186077 41.55078-.195312zm-9.83594 73.5332c-14.51282 39.45015-30.2036 78.49383-45.01172 117.83399a9679.2904 9679.2904 0 0 0 92.12305 0c-15.69177-39.26633-31.45571-78.53111-47.11133-117.83399z"/></svg> <%=Academia%></label>
									<input class="form-control" type="text" value="<%=Academia%>" id="link-academia" hidden>

										<%} else { %>
									<label class="form-label"><svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="m48 32c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-352c0-26.5-21.5-48-48-48zm159.79297 64c13.84989-.009235 27.69894.065306 41.54883.304688 37.90242 95.769872 76.87554 191.171612 115.29297 286.757812 3.86753 10.93902 16.28252 13.7763 26.33789 15.80273 0 5.70872.03515 11.41676.03515 17.12696-50.02039-.0378-100.04056.03689-150.0625-.03711 0-5.74523.03516-11.45499.03516-17.16406 12.52441-.95591 28.65788-.21841 36.09961-12.56055 2.87395-9.57663-.33071-19.56009-3.86719-28.47266-5.30418-13.2243-10.60874-26.44817-15.91406-39.63476-38.64033-.14616-77.24053.11182-115.88086-.10938-6.96146 16.24434-13.00418 32.85791-19.37695 49.32227-2.65131 7.25635-5.48704 16.90792.92187 23.0957 8.14043 6.92532 19.63312 6.74091 29.65234 8.28711.036 5.7464.03607 11.49287.07227 17.27539-31.89881-.0372-63.796493.0735-95.695312-.07422-.000001-5.67257.035156-11.34406.035156-16.98047 9.760071-2.02491 21.953528-4.42154 25.673828-15.14062 32.931248-84.131 65.898238-168.29689 98.349608-252.61133-5.34146-11.49312-9.65208-23.42525-14.80859-34.992188 13.84988-.092488 27.70089-.186077 41.55078-.195312zm-9.83594 73.5332c-14.51282 39.45015-30.2036 78.49383-45.01172 117.83399a9679.2904 9679.2904 0 0 0 92.12305 0c-15.69177-39.26633-31.45571-78.53111-47.11133-117.83399z"/></svg>   Add your ACADEMIA profile URL</label>
									<input class="form-control" type="text" value="" id="link-academia" placeholder="Enter URL">
									<%}%>
								</div>


								

								<!-- Button -->
								<div class="d-flex justify-content-end mt-4">
									<button type="submit" class="btn btn-primary mb-0" id="linkSubmit" disabled>Save changes</button>
								</div>
							</div>
							<!-- Card body END -->
						</div>
					</form>
					<!-- External profile END -->

					<!-- EMail change START -->
					<form class="col-lg-6" id="form3">
						<div class="card bg-transparent border rounded-3">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom edit">
								<h5 class="card-header-title mb-0">Update email</h5>
								<span class="edit-button" id="email-edit">Edit</span>
							</div>
							<!-- Card body -->
							<div class="card-body">
								<p>Your current email address is <span class="text-primary"><%= Email %></span></p>
								<!-- Email -->
								<form>
									<label class="form-label">Enter your new email id</label>
									<input class="form-control" type="email" id="email" placeholder="Enter new email">
									<div class="d-flex justify-content-end mt-4">
										<button type="button" class="btn btn-primary mb-0">Update Email</button>
									</div>
								</form>
							</div>
						</div>
					</form>
					<!-- EMail change end -->

					<!-- Password change START -->
					<form class="col-lg-6" id="form4" >
						<input type="text" id="username_p" name="username" value="<%= UserName %>" hidden readonly>
						<div class="card border bg-transparent rounded-3">
							<!-- Card header -->
							<div id="warningDiv" style="color:red"></div>
							<div class="card-header bg-transparent border-bottom edit">
								<h5 class="card-header-title mb-0">Update password</h5>
								<span class="edit-button" id="password-edit">Edit</span>
							</div>
							<!-- Card body START -->
							<div class="card-body">
								<!-- Current password -->
								<div class="mb-3">
									<label class="form-label">Current password</label>
									<input class="form-control" type="password" id="currentPassword" placeholder="Enter current password" required>
								</div>
								<!-- New password -->
								<div class="mb-3">
									<label class="form-label"> Enter new password</label>
									<div class="input-group">
										<input class="form-control" type="password" id="password_1"placeholder="Enter new password" required>
										<span class="input-group-text p-0 bg-transparent">
											<i class="far fa-eye cursor-pointer p-2 w-40px"></i>
										</span>
									</div>
									<div class="rounded mt-1" id="psw-strength"></div>
								</div>
								<!-- Confirm password -->
								<div>
									<label class="form-label">Confirm new password</label>
									<input class="form-control" type="password" id="NewPassword" name="NewPassword" placeholder="Enter new password" required>
								</div>
								<!-- Button -->
								<div class="d-flex justify-content-end mt-4">
									<button type="submit" id="submitMain" hidden></button>
									<button type="button" class="btn btn-primary mb-0" id="submitPassword" disabled>Change password</button>
								</div>
							</div>
							<!-- Card body END -->
						</div>
					</form>
					<!-- Password change end -->
				</div>
			</div>
			<!-- Main content END -->
		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark p-3">
	<div class="container">
		<div class="row align-items-center">
            <!-- Widget -->
            <div><script src="/js/footer.js"></script></div>
			<!-- Widget -->
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->
<!-- Bootstrap JS -->
<!-- Back to top -->
<div class="back-top"><i class="fas fa-arrow-up position-absolute top-50 start-50 translate-middle"></i></div>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/updateAccountData.js"></script>

<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/glightbox/js/glightbox.js"></script>
<script src="/js/functions.js"></script>

<script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/scholarControls/uploadBook.js"></script>
  <script src="/js/scholarControls/uploadPodcast.js"></script>
<script src="/js/mainjs.js"></script>
<script src="/js/userProfile.js"></script>
<script src="/js/editProfile.js"></script>




</body>
</html>