<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Red_Theme" data-layout="vertical">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Weperch Technologies Ltd">
  <meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/scholarDashboard.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/customChat.css">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png"> -->
  <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png" type="image/x-icon">

  <link rel="stylesheet" href="/css/css/fontawesome.css">
  <link rel="stylesheet" href="/css/css/fontawesome-all.css">

  <link rel="stylesheet" href="/css/material-design-iconic-font.css">
  <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
  <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">
  <!-- Core Css -->
  <link rel="stylesheet" href="/chatAssets/assets/css/styles.css" />
  <title>Space
  </title>
 <!-- Dark mode -->
 <script src="/js/colorTheme.js"></script>
  <style>
    
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    .settings-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
    }

    .columnster{
        width: 400px;
        height: 560px;
        max-height: 100vh;
        border-radius: 25px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 2px solid blueviolet;
    }

    .waitinglist-container{
        background-color: var(--bs-bg-header);
    }
    .waitinglist-child{
        overflow-y: scroll;
        width: 100%;
        height: 100%;
    }
    .waitinglist-child ul{
        list-style-type: none;
        width: 100%;
    }
    .waitinglist-child ul li{
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 6px;
    }
    .waitinglist-child ul li button{
        height: 30px;
        border: none;
        padding: 2px 10px 2px 10px;
        border-radius: 30px;
        outline: none;
        background-color: blueviolet;
        color: rgb(230, 226, 226);
    }
    .waitinglist-child ul li .waiting-img{
        object-fit: cover;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        overflow: hidden;
        background-color: rgb(112, 112, 112);
    }
    .waiting-img img{
        object-fit: cover;
        width: 100%;
    }
    .waitinglist-child .profile-container{
        display: flex;
        align-items: center;
    }

    .waitinglist-child .profile-container .username{
        font-weight: bold;
        color: black;
        margin-left: 7px;
    }
    .line {
        height: 1px;
        width: 60%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.26);
        margin: auto;
    }

    .inviteusers-container{
        background-color: var(--bs-bg-header);
        /* display: flex;
        justify-content: space-between; */

    }
    .inviteusers-container input{
        width: 90%;
        border: none;
        background-color: transparent;
        outline: none;
    }
    .inviteusers-container .searchtoinvite{
        background-color: var(--bs-body-bg);
        padding: 10px 8px;
        display: flex;
        align-items: center;
        margin: auto;
        border-radius: 25px;
        justify-content: space-between;
        width: 80%;
    }

    .othersettings-container{
        background-color: var(--bs-bg-header);
    }
    .othersettings-container .other-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
    }
    .othersettings-container .other-header button{
        height: 30px;
        width: 80px;
        border: none;
        padding: 2px 10px 2px 10px;
        border-radius: 20px;
        outline: none;
        background-color: blueviolet;
        color: rgb(230, 226, 226);
    }

    .othersettings-container form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .othersettings-container form .cta{
        margin-top: 20px;
    }
    .successMessage{
      font-size: 20px;
      color: rgb(233, 54, 54);
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-top: 10%;
    }

    /* Modal overlay */
    .modal {
      display: none; /* Hidden by default */
      position: fixed;
      z-index: 100;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }
    /* Modal content box */
    .modal-content {
      background-color: #fff;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 300px;
      border-radius: 5px;
      position: relative;
    }
    /* Close button */
    .close {
      color: #aaa;
      float: right;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }
    .close:hover {
      color: #000;
    }
    /* Button styles */
    button {
      margin: 5px;
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
   
    .button-confirm {
      background-color: blueviolet;
      color: #fff;
    }
    .button-cancel {
      background-color: #272727;
      color: #fff;
    }

  </style>
  
  
  



  <!-- <script src="/js/chat/updateUI.js"></script> -->
</head>

<body>
<%- include ("loader") %>
<input type="text" id="usernameContainer" value="<%= UserName %>" readonly hidden>
	<input type="hidden" id="profilePhoto" value="<%=ProfileImage%>" readonly>
 
  <!-- Header START -->
  <%- include("header") %>
  <!-- Header END -->

  <div id="main-wrapper" class="mainWrapper">
 <!-- NAVIGATION BAR  -->
 <sidebar class="left-navigation-bar">

  <%if(accountType == "scholar_account") {%>
    <%- include('scholarNavbar') %>
    <% } else if(accountType == "user_account"){%>
        <%- include ("navbar") %>
    <%} else if(accountType == "instructor_account") {%>
        <%- include ("instructorNavbar") %>

        <% } else if(accountType == "administrator") {%>
   <%- include ("adminNavbar") %>
   <% } %>
</sidebar>
<!-- END NAVIGATION BAR  -->

    <!--  Sidebar End -->
    <input type="hidden" name="space_id" id="space_id"  value="<%= spaceId %>" readonly required>
    <div class="main-container">
      <a href="/spaces/<%= spaceId %>" style="color: blueviolet; font-weight: bold;"> <<-- Go back to Space</a>
        <h3>Space Settings</h3>
        <div class="form-control cta" style="width: 60%; display: flex; justify-content: space-between; align-items: center;">
          <label for="passkey">Delete Space:</label>
          <button type="button" class="btn cta" style="border-radius: 10px; background-color: #fd3b35; color: white; width: 40%;" id="delete_space">Delete</button>
        </div><br>
        <div class="form-control cta" style="width: 60%;">
          <div style="width: 100%; display: flex; flex-direction: column; gap: 10px;">
          <% if(SpaceCover !== "" && SpaceCover !== "cover.jpg") { %>

            <img src="<%=SpaceCover %>" alt="" style=" width: 100px; margin-top: 10px; border-radius: 10px;" id="previousImage">
            <% } %>
           
            <!-- previous image  -->
          <form id="thumbnailForm" method="POST" enctype="multipart/form-data" style="width: 100%; display: flex; flex-direction: column; gap: 10px;" >
            <label for="edit_thumbnail">Change Thumbnail:</label>
       
      
            <input type="file" accept="image/*" name="editThumbnail" id="edit_thumbnail" class="btn cta" style="border-radius: 10px; width: 100%;">
       
            <!-- Preview image -->
            <img id="previewImage" src="" alt="Preview" style="display: none; width: 200px; margin-top: 10px; border-radius: 10px;">
        
            <!-- Buttons -->
            <div style="display: none; gap: 10px;" id="actionButtons">
              <button type="button" id="saveButton" class="btn cta" style="border-radius: 10px; background-color: blueviolet; color: white;">Save</button>
              <button type="button" id="cancelButton" class="btn cta" style="border-radius: 10px; background-color: crimson; color: white;">Cancel</button>
            </div>
          </form>
          </div>
        </div>
        <div class="settings-container">
           <div class="columnster waitinglist-container">
              <h4>Waiting List</h4>
              <div class="waitinglist-child">
                <ul id="waitinglist">
                    
                    
                </ul>
              </div>
             
           </div>
           <div class="columnster inviteusers-container">
             <h4>Invite Users</h4>
             <div class="searchtoinvite">
              <input type="text" class="search-chat" name="" id="" placeholder="Search..."><i class="ti ti-search"></i>
          </div>
             <div class="waitinglist-child">
                
                <ul id="inviteusers" class="invite-users">
                  <li>...fetching users</li>
                  
                    
                </ul>
              </div>
             
           </div>
           <div class="columnster othersettings-container">
              <div class="other-header"><h4>Other Settings</h4> <button type="button" id="space_edit">Edit</button></div>
              <form id="settingsForm">
    <!-- <input type="hidden" name="space_id"  value="<%= spaceId %>" readonly required> -->

                <div class="form-control cta">
                    <label for="space_title">Title:</label>
                    <input class="form-control" type="text" value="<%= SpaceName%>" name="space_title" id="space_title" readonly>
                </div>

                <div class="form-control cta">
                    <label for="space_description">Title Description:</label>
                    <textarea name="space_description" value="<%= SpaceDescription %>" id="space_description" class="form-control" disabled><%= SpaceDescription %></textarea>
                </div>
                <% if(PassKey != null){ %>
                <div class="form-control cta">
                  <label for="passkey">Space Passkey</label>
                  <input class="form-control" type="text" value="<%= PassKey %>" placeholder="<%= PassKey %>">
                </div>
                <% } else { %>
                    <span></span>
                  <%}%>
               
                <div class="form-control cta">
                    <p>Make Private?</p>
                    <label for="makeprivate">Yes</label>
                    <% if(isPrivate === "yes") { %>
                    <input type="radio" name="makeprivate" value="yes" id="yes" checked readonly>
                    <% } else { %>
                      <input type="radio" name="makeprivate" value="yes" id="yes" readonly>
                      <%}%>
                    <label for="makeprivate">No</label>
                    
                    <% if(isPrivate === "no") { %>
                      <input type="radio" name="makeprivate" value="no" id="no" checked readonly>
                      <% } else { %>
                        <input type="radio" name="makeprivate" value="no" id="no" readonly>
                        <%}%>
                </div>

                <button class="btn cta" style="border-radius: 25px; background-color: blueviolet; color: white;" id="submitForm" disabled>Submit</button>

              </form>
              
           </div>
        </div>
       
    </div>
  
<!-- Start right section  -->
 <!-- Include Notification panel -->
 <div class="MainRight_side">
	<%- include("notificationsPanel.ejs") %>
	  </div>
	<!--Include Chats Panel-->
	<div class="ChatRight_side">
		<%- include("chatsPanel.ejs") %>
	</div>
	<!-- End right Section  -->

  </div>
  <!-- The Modal -->
  <div id="deleteModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModal">&times;</span>
      <h3>Confirm Delete</h3>
      <p>Are you sure you want to delete this Space?</p>
      <div style="text-align: right;">
        <button class="button-confirm" id="confirmDelete">Yes</button>
        <button class="button-cancel" id="cancelDelete">No</button>
      </div>
    </div>
  </div>
  <div class="dark-transparent sidebartoggler"></div>
  <script src="/chatAssets/assets/js/vendor.min.js"></script>
  <!-- Import Js Files -->
  <script src="/chatAssets/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/chatAssets/assets/js/theme/app.init.js"></script>
  <!-- <script src="/chatAssets/assets/js/theme/theme.js"></script> -->
  <!-- <script src="/chatAssets/assets/js/theme/app.min.js"></script> -->
  <script src="/chatAssets/assets/js/theme/feather.min.js"></script>

  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>


  <script src="/js/jquery-3.4.1.min.js"></script>

  <script src="/js/jquery-3.4.2.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
<script src="/js/spaces/editSpace.js"></script>
<script src="/js/spaces/acceptInvitations.js"></script>
<script src="/js/spaces/inviteUsers.js" type="module"></script>
<script src="/js/spaces/deleteSpace.js"></script>
<script src="/js/mainjs.js"></script>
<script src="/js/getNotifications.js"></script>
<script src="/js/getChatNotifications.js"></script>
<script>
  const notifications = document.querySelector("#notifications");
  const chats = document.querySelector("#chats");
  const notificationsPanel = document.querySelector(".MainRight_side");
  const chatsPanel = document.querySelector(".ChatRight_side");
  const closeButtonNotification = document.querySelector(".close_button_notification");
  const closeButtonChat = document.querySelector(".close_button_chat");
  notifications.addEventListener("click", () => {
    notificationsPanel.classList.toggle("visible");
  chatsPanel.classList.remove("visible");
});
chats.addEventListener("click", () => {
    chatsPanel.classList.toggle("visible");
  notificationsPanel.classList.remove("visible");
});
closeButtonNotification.addEventListener("click", function(){
    notificationsPanel.classList.toggle("visible");
})
closeButtonChat.addEventListener("click", function(){
    chatsPanel.classList.toggle("visible");
})
</script>
<script>
        document.addEventListener('DOMContentLoaded', function () {
          const loader = document.getElementById('custom-loader');
    
              setTimeout(() => {
                loader.classList.add('hide');
              }, 500); // optional delay for smoother transition
            
          });
      
      </script>
      <script src="/js/spaces/editSpaceCoverPhoto.js"></script>
</body>


</html>