<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Red_Theme" data-layout="vertical">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Weperch Technologies Ltd">
  <meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/scholarDashboard.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/customChat.css">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png"> -->
  <link rel="shortcut icon" href="https://res.cloudinary.com/dll8awuig/image/upload/v1741165624/asfi_icon_hv7hav.png" type="image/x-icon">

  <link rel="stylesheet" href="/css/css/fontawesome.css">
  <link rel="stylesheet" href="/css/css/fontawesome-all.css">

  <link rel="stylesheet" href="/css/material-design-iconic-font.css">
  <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
  <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">
  <!-- Core Css -->
  <!-- <link rel="stylesheet" href="/chatAssets/assets/css/styles.css" /> -->
  <title>Space
  </title>
   <!-- Dark mode -->
	<script src="/js/colorTheme.js"></script>
  
  <style>
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .columnster{
        /* width: 60%; */
        height: 360px;
        min-height: max-content;
        max-height: 100vh;
        border-radius: 25px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border: 2px solid blueviolet;
    }
    .columnster .spaceDetails{
      display: flex;
      flex-direction: column;
      justify-content: center;text-align: center;
    }
    .spaceDetails p{
      text-align: center;
    }
    .columnster form{
      margin-top: 20px;
      text-align: center;
    }
    #spaceKey{
      background-color: rgba(137, 43, 226, 0.205);
      color: rgb(91, 11, 165);
      border: 1px solid blueviolet;
      height: 60px;
      width: 70%;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      padding: 10px;
      margin-top: 10px;
    }

    .columnster .request button {
      height: 40px;
        width: 80%;
        border: none;
        border-radius: 20px;
        outline: none;
        padding: 10px;
        background-color: blueviolet;
        color: whitesmoke;
        font-weight: bold;
        margin-top: 10px;
    }

    .columnster .request{
      display: flex;
      flex-direction: column;
      margin-top: 90px;
      justify-content: center;
      align-items: center;
    }
    .errorMessage{
      color: red;
    }
    .successMessage{
      color: blueviolet;
      font-size: 30px;
      font-weight: bold;
      margin: auto;
    }
    
    @media screen and (max-width:700px) {
      .columnster{
        width: 90%;
        height: 460px;
        max-height: 100vh;
        border-radius: 25px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 2px solid blueviolet;
    }
    }
  </style>
  



  <!-- <script src="/js/chat/updateUI.js"></script> -->
</head>

<body>
<!-- loader goes here -->
<input type="text" id="usernameContainer" value="<%= UserName %>" readonly hidden>
	<input type="hidden" id="profilePhoto" value="<%=ProfileImage%>" readonly>
  

  <!-- Header START -->
<%- include('header') %>
<!-- Header END -->

  <div id="main-wrapper" class="mainWrapper">

    <!-- NAVIGATION BAR  -->
  <sidebar class="left-navigation-bar">

    <%if(accountType == "scholar_account") {%>
      <%- include('scholarNavbar') %>
      <% } else if(accountType == "user_account"){%>
          <%- include ("navbar") %>
      <%} else if(accountType == "instructor_account") {%>
          <%- include ("instructorNavbar") %>

          <% } else if(accountType == "administrator") {%>
     <%- include ("adminNavbar") %>
     <% } %>
  </sidebar>
  <!-- END NAVIGATION BAR  -->

    <!--  Sidebar End -->
<div class="main-container">
  <div class="columnster">
    <div class="spaceDetails">
     <h2><%= SpaceName %></h2>
     <p><%= SpaceDescription %></p>
    </div>
    <form action="" id="space_verification" onsubmit="return false">
      <label for="spaceKey">Enter Space Key:</label> <br>
    <input type="text" maxlength="7" name="spaceKey" id="spaceKey" placeholder="000-000">
    <div class="errorMessage"></div>
    <input type="hidden" name="space_id" id="space_id"  value="<%= spaceId %>" readonly required>

    <input type="submit" value="Submit" id="submitVerify" hidden>

    </form>
    <div class="request">
      <span>Don't have a passkey? You can request to join the space...</span>
        <button type="button" id="join_request">Request to Join Space</button>
        
    </div>
</div>
</div>
    <!-- Start right section  -->
 <!-- Include Notification panel -->
 <div class="MainRight_side">
	<%- include("notificationsPanel.ejs") %>
	  </div>
	<!--Include Chats Panel-->
	<div class="ChatRight_side">
		<%- include("chatsPanel.ejs") %>
	</div>
	<!-- End right Section  -->
  


</div>
  <div class="dark-transparent sidebartoggler"></div>
  <script src="/chatAssets/assets/js/vendor.min.js"></script>
  <!-- Import Js Files -->
  <script src="/chatAssets/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/chatAssets/assets/js/theme/app.init.js"></script>
  <!-- <script src="/chatAssets/assets/js/theme/theme.js"></script> -->
  <!-- <script src="/chatAssets/assets/js/theme/app.min.js"></script> -->
  <script src="/chatAssets/assets/js/theme/feather.min.js"></script>

  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>


  <script src="/js/jquery-3.4.1.min.js"></script>

  <script src="/js/jquery-3.4.2.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
  <!-- <script src="/js/chatUI.js"></script> -->

  <script src="/js/spaces/joinWaitingRoom.js"></script>

  <script src="/js/spaces/spaceVerification.js"></script>
  <script src="/js/mainjs.js"></script>
  <script src="/js/getNotifications.js"></script>
<script src="/js/getChatNotifications.js"></script>


  <!-- <script type="module" src="/js/searchQueries/getUserInfo.js"></script> -->
  <!-- <script src="/js/privateChatMain.js" type="module"></script> -->
   
  <!-- <script type="module" src="/js/privateRecentChats.js"></script> -->
  
  <script>
    const notifications = document.querySelector("#notifications");
    const chats = document.querySelector("#chats");
    const notificationsPanel = document.querySelector(".MainRight_side");
    const chatsPanel = document.querySelector(".ChatRight_side");
    const closeButtonNotification = document.querySelector(".close_button_notification");
    const closeButtonChat = document.querySelector(".close_button_chat");
    notifications.addEventListener("click", () => {
      notificationsPanel.classList.toggle("visible");
    chatsPanel.classList.remove("visible");
  });
  chats.addEventListener("click", () => {
      chatsPanel.classList.toggle("visible");
    notificationsPanel.classList.remove("visible");
  });
  closeButtonNotification.addEventListener("click", function(){
      notificationsPanel.classList.toggle("visible");
  })
  closeButtonChat.addEventListener("click", function(){
      chatsPanel.classList.toggle("visible");
  })
  </script>

<script>
        document.addEventListener('DOMContentLoaded', function () {
          const loader = document.getElementById('custom-loader');
    
              setTimeout(() => {
                loader.classList.add('hide');
              }, 500); // optional delay for smoother transition
            
          });
      
      </script>
</body>


</html>