<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Weperch Technologies Ltd">
	<meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
    
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/contactUs.css">
        <link rel="stylesheet" href="/css/general.css">
        
        <link rel="stylesheet" href="/css/video_interface.css">
        <link rel="stylesheet" href="/css/videoPlayer.css">
      
       
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="/files/images/ASFIScholar_Logo.png">
    
        <link rel="stylesheet" href="/css/css/fontawesome.css">
        <link rel="stylesheet" href="/css/css/fontawesome-all.css">
    
        <link rel="stylesheet" href="/css/material-design-iconic-font.css">
        <!-- <link rel="stylesheet" href="/css/themify-icons.css"> -->
        <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
        <title>Video Interface</title>
        <!-- Dark mode -->
<script src="/js/colorTheme.js"></script>


    </head>
<body>
    <%- include ("reviewModal.ejs") %>
    <input type="hidden" value="<%=tutorialOwnerName%>" id="tutorialOwnerContainer" readonly>
    <input type="hidden" value="<%=tutorialCategory_value%>" id="tutorialCategory" readonly>
    <input type="text"  id="tutorialsByAuthor" hidden readonly>
    <input type="text" value="<%=tutorialsInSameCategory%>" id="tutorialsInCategory" hidden readonly>
    <input type="text" name="<%=TutorialsOfSameCourse%>" id="tutorialsofSameCourse" hidden readonly>
       <!-- NAVIGATION BAR  -->
    <sidebar class="left-navigation-bar bg-shadow ">
    
             <script src="/js/navbar.js"></script>
      
     </sidebar>
     <!-- END NAVIGATION BAR  -->

     <!-- Header START -->
<header class="navbar-light navbar-sticky" style="background: transparent; border: none;">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<button class="stack-bars fa ">
            </button>

            
                    <searchBar>
                        <input type="text" name="searchLibrary" placeholder="Find a Course: search by name or Instructor" id="searchLibrary"/>
    
                       <i class="fa fa-search"></i>
                    </searchBar>
               
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Page content START -->
    <section class="pt-3 pt-xl-5">
        <div class="container" data-sticky-container>
            <div class="row g-4">
                <!-- Main content START -->
                <div class="col-xl-8">
    
                    <div class="row g-4">
                        <!-- Title START -->
                        <div class="col-12">
                            <!-- Title -->
                            <h2><%=mainTitle %></h2>
                            <!-- <p>Description goes here...</p> -->
                            <!-- Content -->
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="fas fa-star me-2"></i>4.5/5.0</li>
                                <li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="fas fa-user-graduate me-2"></i>0 Enrolled</li>
                                <li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="fas fa-signal me-2"></i>All levels</li>
                                <li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="bi bi-patch-exclamation-fill me-2"></i>Last updated - <%=mainDate %></li>
                                <li class="list-inline-item fw-light h6"><i class="fas fa-globe me-2"></i>English</li>
                            </ul>
                        </div>
                        <!-- Title END -->
    
                        <!-- Image and video -->
                        <div class="col-12 position-relative video_container">
                            <div class="video-player rounded-3 show-controls">
                                <div class="wrapper">
                                    <div class="video-timeline">
                                      <div class="progress-area">
                                        <span>00:00</span>
                                        <div class="progress-bar"></div>
                                      </div>
                                    </div>
                                    <ul class="video-controls">
                                        <li class="options left">
                                          <button class="volume"><i class="fa-solid fa-volume-high"></i></button>
                                          <input type="range" min="0" max="1" step="any">
                                          <div class="video-timer">
                                            <p class="current-time">00:00</p>
                                            <p class="separator"> / </p>
                                            <p class="video-duration">00:00</p>
                                          </div>
                                        </li>
                                        <li class="options center">
                                          <button class="skip-backward"><i class="fas fa-backward"></i></button>
                                          <button class="play-pause"><i class="fas fa-play"></i></button>
                                          <button class="skip-forward"><i class="fas fa-forward"></i></button>
                                        </li>
                                        <li class="options right">
                                          <div class="playback-content">
                                            <button class="playback-speed"><span class="material-symbols-rounded">slow_motion_video</span></button>
                                            <ul class="speed-options">
                                              <li data-speed="2">2x</li>
                                              <li data-speed="1.5">1.5x</li>
                                              <li data-speed="1" class="active">Normal</li>
                                              <li data-speed="0.75">0.75x</li>
                                              <li data-speed="0.5">0.5x</li>
                                            </ul>
                                          </div>
                                          <button class="fullscreen"><i class="fa-solid fa-expand"></i></button>
                                        </li>
                                      </ul>
                                </div>
                                <video poster="/userUploads/thumbnails/<%=mainThumbnail%>" style="width: 100%; height: inherit;">
                                    <source src="/userUploads/Videos/<%=mainFile%>" type="video/mp4">
                                </video>
                                
                            
                            </div>
                        </div>
    
                        <!-- About course START -->
                        <div class="col-12">
                            <div class="card border">
                                <!-- Card header START -->
                                <div class="card-header border-bottom">
                                    <h3 class="mb-0">Course description</h3>
                                </div>
                                <!-- Card header END -->
            
                                <div class="card-body">
                                    <p class="mb-3 limited-text" id="courseDescription">
                                         <%= mainDescription %>
                                     </p>
                                     <!-- Collapse body -->
                                     <div class="collapse" id="collapseContent">
                                
                                   
                                     </div>
                                     <!-- Collapse button -->
                                     <a class="p-0 mb-0 mt-2 btn-more d-flex align-items-center" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
                                         See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fas fa-angle-down ms-2"></i>
                                     </a>
         
                                 </div>
                                <!-- Card body START -->
                            </div>
                        </div>
                        <!-- About course END -->
    
                        <!-- Curriculum START -->
                        <div class="col-12">
                            <div class="card border rounded-3">
                                <!-- Card header START -->
                                <div class="card-header border-bottom">
                                    <h3 class="mb-0">Reviews</h3>
                                </div>
                                <!-- Card header END -->
            
                                <!-- Card body START -->
                                <div class="card-body">
                                    <div class="row g-5">
                                        
                                        
                                    
                                        <div class="comments">
                                        <div class="all_comments">
                                            <div class="d-sm-flex" id="reviews_first_child">
                                              
                                            </div>
                                            <!-- Divider -->
                                            
                                
                                            <div class="user_comment">
                                                
                                                    <div class="card-body mt-2 mt-sm-4 collapse" id="reviewsContainer">
                                                      
                                                      
                                                       
                                                        </div>
                                                    </div>
                                                    <span class="btn bg-purple text-white" data-bs-toggle="modal" data-bs-target="#editAction">Leave a Review</span>
                                                   
                                
                                                   
                                
                                                    
                                                    <a class="mb-0 mt-4 btn-more d-flex align-items-center justify-content-center" data-bs-toggle="collapse" href="#reviewsContainer" role="button" aria-expanded="false" aria-controls="reviewsContainer" >
                                                        See <span class="see-more mx-1">more</span><span class="see-less mx-1">less</span> Reviews<i class="fas fa-angle-down ms-2"></i>
                                                    </a>
                                            </div>
                                            
                                        </div>
                                        
    
                        
                                        <!-- Collapse body START -->
                                        <div class="collapse mt-0" id="collapseCourse">
                                            <!-- Lecture item START -->
                                            <h5 class="mb-4">More Courses from the Author</h5>
                                            <div class="col-12 mt-5 " id="tutorialsByAuthorContainerMain">
                                                
                                                <!-- Curriculum item -->          
                                            </div>
                                            <!-- Lecture item END -->
                                        </div>
                                        <!-- Collapse body END -->
    
                                        <!-- Collapse button -->
                                        <a class="mb-0 mt-4 btn-more d-flex align-items-center justify-content-center" data-bs-toggle="collapse" href="#collapseCourse" role="button" aria-expanded="false" aria-controls="collapseCourse">
                                            See <span class="see-more mx-1">more</span><span class="see-less mx-1">less</span> video<i class="fas fa-angle-down ms-2"></i>
                                        </a>
                                        
                                    </div>
                                </div>
                                <!-- Card body START -->
                            </div>
                        </div>
                        <!-- Curriculum END -->
    
                        
                    </div>
                </div>
                <!-- Main content END -->
    
                <!-- Right sidebar START -->
                <div class="col-xl-4">
                    <div data-sticky data-margin-top="80" data-sticky-for="768">
                        <div class="row g-4" id="tutorialSideBar">
                            <!-- Card item START -->
                    <!-- Card item END -->
                     </div><!-- Row End -->
                    </div>	
                </div>
                <!-- Right sidebar END -->
    
            </div><!-- Row END -->
        </div>
    </section>
    <!-- =======================
    Page content END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/mainjs.js"></script>
<script type="module" src="/js/videoplayer.js"></script>
<script src="/js/SearchQueries/getTutorialsByAuthor.js"></script>
<script src="/js/getAllCourseReviews.js"></script>

<!-- Back to top -->
<div class="back-top"><i class="fas fa-arrow-up position-absolute top-50 start-50 translate-middle"></i></div>


<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- Vendors -->
<script src="/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/vendor/glightbox/js/glightbox.js"></script>
<script src="/js/functions.js"></script>

</body>
</html>