
                <div class='navbar-logo_container'>
                    <a class="avatar avatar-sm p-0 navbar-brand" href="/settings" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                                    <% if(ProfileImage == "avatar.jpg"){ %>
                                        <img class="avatar-img rounded-circle border border-white border-3 shadow" src="https://eu.ui-avatars.com/api/?background=random&name=<%= UserFirstname %>+<%= UserLastName %>&font-size=0.5&rounded=true&size=128&background=333333&color=ffffff" alt='<%= ProfileImage %> '>
                                        <% } else { %>
                                            <img class="avatar-img rounded-circle border border-white border-3 shadow profileImageContainer"
                                            src="<%=ProfileImage%>" alt="Loading" >
                                        <% }%>
                                    
                                </a>
                                <personal_info>
                                    <a class="profile-name" href="/settings"><%=UserFirstname %> <%= UserLastName %></a>
                                    <a class="profile-username" href="/settings">@<%= UserName %></a>
                                </personal_info>
                    
                    </div>
                            <div class='navbar-contents'>
                            <ul class='navbar_buttons'>
                             <a href='/feed'><li class='navbar_item ' id='feed_link_pg' title='Feed'><span class="solar--feed-broken"></span><p class='navName'>Feed</p><span class='nav_tool_tip '>Feed</span></li></a>
                            <a href='/dashboard'>
                                <li class='navbar_item ' id='dashboard_link_pg' title='Dashboard'><span class="solar--widget-3-line-duotone"></span> <p class='navName'>Dashboard</p>
                                    <span class='nav_tool_tip'>Dashboard</span></li>
                                </a>
                                <a href='/admin/pages/dashboard/user'>
                                    <li class='navbar_item ' id='dashboard_link_pg' title='Dashboard'><span class="ri--admin-fill"></span> <p class='navName'>Admin Dashboard</p>
                                        <span class='nav_tool_tip'>Admin Dashboard</span></li>
                                    </a>
                                <a href='/library'><li class='navbar_item ' id='library_link_pg' title='Library'><span class="solar--library-line-duotone"></span><p class='navName'>Library</p><span class='nav_tool_tip '>Library</span></li></a>
                                <a href='/Directory'><li class='navbar_item ' id='directory_link_pg' title='Find Scholars and Spaces to follow'><span class="codicon--file-symlink-directory"></span><p class='navName'>Scholars Directory</p><span class='nav_tool_tip'>Directory</span></li></a>
                                <a href='/Spaces'><li class='navbar_item ' id='spaces_link_pg' title='Spaces'> <span class="ix--workspaces"></span><p class='navName'>Spaces</p><span class='nav_tool_tip'>Spaces</span></li></a>
                                <a href='/Podcasts'><li class='navbar_item ' id='podcasts_link_pg' title='Podcasts'><span class="cib--google-podcasts"></span><p class='navName'>Podcasts</p><span class='nav_tool_tip'>Podcasts</span></li></a>
                               
                                <a href='/Tutorials'><li class='navbar_item ' id='tutorials_link_pg' title='Tutorials'><span class="mdi--cast-tutorial"></span><p class='navName'>Tutorials</p><span class='nav_tool_tip'>Tutorials</span></li></a>
                                
                                <a href='https://asfischolar.net'><li class='navbar_item ' id='asfi_meet_link_pg' title='ASFIMeet'><span class="proicons--video"></span><p class='navName'>ASFIMeet</p><span class='nav_tool_tip'>ASFIMeet</span></li></a>
                                <a href='/settings'><li class='navbar_item' id='settings_link_pg'>
                                    <span class="solar--settings-bold"></span><p class='navName'>Settings</p><span class='nav_tool_tip'>Settings</span>
                                </li></a>
                
                                <li>
                                    <%- include ("footer") %>
                                </li>
                        </ul>
                            </div>
                            